{{#unless (or (eq page.layout 'full') (eq page.layout 'landing'))}}
<aside
  class="toc sidebar peer sticky hidden h-[calc(100vh-10rem)] mb-[14rem] w-[20rem] xl:flex xl:flex-col xl:col-start-2 {{#if site.keys.globalNav}}top-[9rem]{{else}}top-[6rem]{{/if}}"
  data-title="{{{or page.attributes.toctitle 'Contents'}}}"
  data-levels="{{{or page.attributes.toclevels 2}}}"
>
  <div class="toc-menu-container overflow-y-auto">
    <div class="toc-menu"></div>
    {{#if page.attributes.tags}}
    <h3 class="!my-2 text-h3">Tags</h3>
    <div class="flex flex-wrap items-start content-start gap-2 p-0">
      {{#each (split page.attributes.tags ", ") }}
      <span class="flex flex-grow-0 text-label px-2 py-1 rounded-full bg-[var(--ds-primary-soft-bg)] text-[var(--ds-primary-soft-color)]">{{this}}</span>
      {{/each}}
    </div>
    {{/if}}
  </div>
</aside>
{{/unless}}
 