<div class="navbar bg-body border-b z-40 fixed top-0 flex flex-col w-full {{#if site.keys.globalNav}}h-32{{else}}h-20{{/if}}">
  <nav class="flex flex-auto items-center gap-2 lg:gap-4 p-4">
    {{#unless (eq page.layout 'home')}}
    <label
      for="nav-drawer-input"
      class="btn btn-neutral btn-plain btn-icon drawer-button lg:hidden"
    >
      <i class="icon material-icons">menu_open</i>
    </label>
    {{/unless}}
    <a href="{{#> logo-url}}{{{or site.url siteRootPath}}}{{/logo-url}}">
      {{> logo}}
    </a>
    <div class="DocSearch" id="docsearch"></div>
    <button
      class="w-10 ml-auto btn btn-neutral btn-outlined lg:w-auto"
      id="get-support"
    ><span class="material-icons lg:mr-2">support_agent</span><span
        class="hidden lg:inline-block"
      >Get Live Help</span>
    </button>
  </nav>
 {{> global-nav}}
</div>