{{#if (and page.fileUri (not env.CI))}}
<div class="ml-auto">
  <a href="{{page.fileUri}}">
    Edit this page
  </a>
</div>
{{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
<div class="ml-auto">
  <a href="{{page.editUrl}}">
    <i class="bg-[url('../img/social-github.svg')] bg-no-repeat dark:invert mr-1"></i>Edit this page on Github
  </a>
</div>
{{/if}}
