<div class="flex max-w-full gap-10 px-3 pt-4 pb-12 mx-auto lg:px-6">
  <main class="max-w-3xl min-w-0">
    {{#if (eq page.layout '404')}}
    {{> article-404}}
    {{else}}
    {{> article}}
    {{/if}}
  </main>
  {{> toc}}
</div>
