<nav
  class="fixed top-0 z-40 flex h-20 w-[100vw] flex-auto items-center gap-4 border-b bg-body px-4 lg:px-6"
>
  <label
    for="nav-drawer"
    class="btn btn-neutral btn-plain btn-icon drawer-button lg:hidden"
  >
    <i class="icon material-icons">menu_open</i>
  </label>
  <a href="{{{or site.url siteRootPath}}}" id="datastax-docs-logo-main"></a>
  <div class="DocSearch" id="docsearch"></div>
  <button
    class="btn btn-neutral btn-outlined ml-auto w-10 lg:w-auto"
    id="get-support"
  ><span class="material-icons lg:mr-2">support_agent</span><span
      class="hidden lg:inline-block"
    >Get Live Help</span></button>
  <button
    class="btn btn-icon btn-neutral btn-outlined"
    id="theme-toggle"
  ></button>
</nav>