@tailwind base;

html {
  @include text-body;
}

body {
  color: var(--ds-text-primary);
  background: var(--ds-background-body);
}

/* Scrollbars */
@media (pointer: fine) {
  @supports (scrollbar-width: thin) {
    html {
      scrollbar-color: var(--ds-neutral-outlined-border) var(--ds-background-body);
    }

    body * {
      scrollbar-width: thin;
      scrollbar-color: var(--ds-neutral-outlined-border) transparent;
    }
  }

  html::-webkit-scrollbar {
    background-color: var(--ds-background-body);
    height: 12px;
    width: 12px;
  }

  body ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--ds-neutral-outlined-border);
    border: 3px solid transparent;
    border-radius: 12px;
  }

  body ::-webkit-scrollbar-thumb {
    border-width: 1.75px;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--ds-neutral-outlined-hover-border);
  }
}

@layer base {
  *,
  ::before,
  ::after {
    border: 0 solid var(--ds-divider);
  }

  .icon {
    display: inline-block;
    height: 1em;
    width: 1em;
  }
}
