@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src:
    url(~@fontsource/material-icons-outlined/files/material-icons-outlined-latin-400-normal.woff2) format("woff2"),
    url(~@fontsource/material-icons-outlined/files/material-icons-outlined-latin-400-normal.woff) format("woff");
  font-display: swap;
}

.material-icons {
  font-family: 'Material Icons Outlined', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: calc(20 / var(--rem-base) * 1rem);
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  vertical-align: middle;
}
