@layer components {
  .collapse:not(td):not(tr):not(colgroup) {
    @apply visible;
  }

  .collapse {
    @apply relative grid overflow-hidden;

    grid-template-rows: auto 0fr;
    transition: grid-template-rows 0.2s;
  }

  .collapse-title,
  .collapse > input[type="checkbox"],
  .collapse > input[type="radio"],
  .collapse-content {
    @apply col-start-1 row-start-1;
  }

  .collapse > input[type="checkbox"],
  .collapse > input[type="radio"] {
    @apply cursor-pointer appearance-none opacity-0;
  }

  .collapse-content {
    @apply invisible col-start-1 row-start-2 min-h-0;

    transition: visibility 0.2s;
  }

  .collapse[open],
  .collapse-open,
  .collapse:focus:not(.collapse-close) {
    grid-template-rows: auto 1fr;
  }

  .collapse:not(.collapse-close):has(> input[type="checkbox"]:checked),
  .collapse:not(.collapse-close):has(> input[type="radio"]:checked) {
    grid-template-rows: auto 1fr;
  }

  .collapse[open] > .collapse-content,
  .collapse-open > .collapse-content,
  .collapse:focus:not(.collapse-close) > .collapse-content,
  .collapse:not(.collapse-close) > input[type="checkbox"]:checked ~ .collapse-content,
  .collapse:not(.collapse-close) > input[type="radio"]:checked ~ .collapse-content {
    @apply visible min-h-fit;
  }

  .collapse-title::before {
    @apply ml-2 inline-block translate-y-1 transition-transform;
    font-family: "Material Icons Outlined", sans-serif;
    font-size: 1rem;
    content: "\e5cc";
  }

  .collapse[open] > .collapse-title::before,
  .collapse-open > .collapse-title::before,
  .collapse:focus:not(.collapse-close) > .collapse-title::before,
  .collapse:not(.collapse-close) > .collapse-title:has(~ input[type="checkbox"]:checked)::before,
  .collapse:not(.collapse-close) > .collapse-title:has(~ input[type="radio"]:checked)::before {
    @apply rotate-90;
  }
}
