@layer components {
  .collapse {
    @apply !visible;
  }

  .collapse > .collapse-content {
    @apply grid min-h-0 invisible;

    grid-template-rows: 0fr;
    transition-property: grid-template-rows, visibility;
    transition-duration: 0.2s;
    transition-behavior: allow-discrete;

    @media (prefers-reduced-motion: reduce) {
      transition-property: none;
    }
  }

  .collapse > .collapse-content > * {
    @apply overflow-hidden;
  }

  .collapse > .collapse-content.active {
    @apply visible;

    grid-template-rows: 1fr;
  }
}
