@layer components {
  .collapse {
    @apply !visible grid;
  }

  .collapse > .collapse-content {
    @apply relative col-start-1 row-start-2 grid min-h-0;

    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s;
  }

  .collapse > .collapse-content > * {
    @apply overflow-hidden;
  }

  .collapse-title,
  .collapse > input[type="checkbox"],
  .collapse > input[type="radio"] {
    @apply col-start-1 row-start-1;
  }

  .collapse > input[type="checkbox"],
  .collapse > input[type="radio"] {
    @apply cursor-pointer appearance-none opacity-0;
  }

  .collapse > input[type="checkbox"]:checked ~ .collapse-content,
  .collapse > input[type="radio"]:checked ~ .collapse-content {
    grid-template-rows: 1fr;
  }
}
