<footer class="footer [&_a]:text-link flex flex-col gap-6 border-t mt-auto pt-6 text-sm md:flex-row row-start-2 xl:peer-[.toc]:col-span-2">
  <div class="flex flex-col gap-6">
    <a
      href="https://www.datastax.com"
      target="_blank"
      title="Go to the DataStax Website"
      data-track="Footer datastax.com Link Clicked"
      class="w-min"
    >
    {{> logo-text}}
    </a>
    <p class="!m-0">
      <span>©</span>
      <span id="copyrightdate">{{year}}</span>
      <span>DataStax |
        <a
          href="https://www.datastax.com/legal/datastax-website-privacy-policy"
          target="_blank"
          data-track="Footer Privacy Policy Link Clicked"
        >Privacy policy</a>
        |
        <a
          href="https://www.datastax.com/legal/datastax-website-terms-use"
          target="_blank"
          data-track="Footer Terms of Use Link Clicked"
        >Terms of use</a>
      </span>
    </p>
    <p class="text-tertiary !m-0 max-w-[640px] text-xs">Apache, Apache
      Cassandra, Cassandra, Apache Tomcat, Tomcat, Apache Lucene, Apache Solr,
      Apache Hadoop, Hadoop, Apache Pulsar, Pulsar, Apache Spark, Spark, Apache
      TinkerPop, TinkerPop, Apache Kafka and Kafka are either registered
      trademarks or trademarks of the Apache Software Foundation or its
      subsidiaries in Canada, the United States and/or other countries.
      Kubernetes is the registered trademark of the Linux Foundation.</p>
  </div>
  <div class="flex flex-col gap-6 md:ml-auto md:items-end">
    <div class="flex items-center gap-4">
      <a
        href="https://discord.gg/datastax"
        target="_blank"
        title="Go to DataStax Developers Discord"
        data-track="Footer Discord Link Clicked"
        class="h-6 w-6 bg-[url('../img/social-discord.svg')] bg-no-repeat dark:invert"
      ></a>
      <a
        href="https://github.com/datastax"
        target="_blank"
        title="Go to DataStax GitHub"
        data-track="Footer Github Link Clicked"
        class="h-6 w-6 bg-[url('../img/social-github.svg')] bg-no-repeat dark:invert"
      ></a>
      <a
        href="https://www.linkedin.com/showcase/datastaxdevs/"
        target="_blank"
        title="Go to DataStax Developers LinkedIn"
        data-track="LinkedIn Link Clicked"
        class="h-6 w-6 bg-[url('../img/social-linkedin.svg')] bg-no-repeat dark:invert"
      ></a>
      <a
        href="https://twitter.com/datastaxdevs"
        target="_blank"
        title="Go to DataStax Developers X (Twitter)"
        data-track="Footer Twitter Link Clicked"
        class="h-6 w-6 bg-[url('../img/social-x.svg')] bg-no-repeat dark:invert"
      ></a>
      <a
        href="https://www.youtube.com/@DataStaxDevs"
        target="_blank"
        title="Go to DataStax Developers YouTube"
        data-track="YouTube Link Clicked"
        class="h-6 w-6 bg-[url('../img/social-youtube.svg')] bg-no-repeat dark:invert"
      ></a>
    </div>
    <p class="!m-0 md:text-right">General Inquiries:
      <a
        href="tel:+1-650-389-6000"
        data-track="Footer Telephone Link Clicked"
      >+1 (650) 389-6000</a>,
      <a
        href="mailto:info@datastax.com"
        data-track="Footer Email Link Clicked"
      >info@datastax.com</a>
    </p>
  </div>
</footer>