<div class="sect1">
  <h2>Support</h2>
  <div class="sectionbody flex flex-col sm:flex-row">
    <div class="sect2 basis-1/2">
      <h3>Was This Helpful?</h3>
      <div id="feedback_buttons" class="flex gap-1 mt-2 transition-opacity opacity-100">
        <button id="feedback_button_yes" class="btn btn-neutral btn-outlined"
          data-track="Was This Helpful?: Yes Button Clicked">
          <i class="material-icons mr-1">thumb_up</i>Yes
        </button>
        <button id="feeback_button_no" class="btn btn-neutral btn-outlined"
          data-track="Was This Helpful?: No Button Clicked" onclick="feedback_dialog.showModal()">
          <i class="material-icons mr-1">thumb_down</i>No
        </button>
      </div>
      <div id="feedback_thank_you" class="text-h2 mt-2 transition-opacity hidden opacity-0">Thank you for your feedback.
      </div>
    </div>
    <div class="sect2 basis-1/2">
      <h3>Need More Help?</h3>
      <div class="mt-2 flex flex-col gap-2">
        <a href="https://www.datastax.com/dev/community" target="_blank">
          <i class="material-icons mr-1">group</i>Ask the Astra community
        </a>
        <a href="https://support.datastax.com/" target="_blank">
          <i class="material-icons mr-1">support</i>Get in touch with support
        </a>
      </div>
    </div>
  </div>
</div>
<dialog id="feedback_dialog" class="dialog w-[80rem]">
  <form method="dialog" id="feedback_form">
    <div class="flex items-center border-b p-3">
      <h1 class="!m-0">Give Feedback</h1>
      <button id="feedback_form_esc_button" class="btn btn-plain btn-neutral ml-auto h-4 p-1" formnovalidate><span
          class="text-overline px-1 rounded-xl bg-[var(--ds-background-level1)] text-[var(--ds-text-tertiary)]">ESC</span><i
          class="material-icons text-[var(--ds-primary-main)]">close</i></button>
    </div>
    <div class="p-3">
      <p class="!mt-0">How can we improve the documentation?</p>
      <textarea rows="4" name="message" class="input mt-1" placeholder="Provide your feedback" required
        autofocus></textarea>
    </div>
    <div class="flex gap-1 justify-end pt-2 pb-3 px-3 top border-t">
      <button class="btn btn-neutral btn-outlined" id="feedback_form_cancel_button" formnovalidate>Cancel</button>
      <button class="btn btn-neutral btn-solid" type="submit">Submit Feedback</button>
    </div>
  </form>
</dialog>