<div class="body flex">
  {{#unless (eq page.layout 'full')}}
  {{> nav}}
  {{/unless}}
  <div class="flex flex-col w-full">
    {{> main}}
    {{> footer-content}}
  </div>
</div>
{{> footer-scripts}}