{{> body-start-scripts}}
{{> navbar}}
<div class="drawer lg:drawer-open">
  <input id="nav-drawer" type="checkbox" class="drawer-toggle" />
  <div class="flex flex-col pt-20 drawer-content">
    {{> main}}
    {{> footer}}
  </div>
  <div class="z-30 pt-20 drawer-side">
    <label for="nav-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    {{> side-nav}}
  </div>
</div>
{{> body-end-scripts}}
