<footer
  class="footer flex flex-col gap-6 border-t pt-10 text-sm md:flex-row [&_a]:text-[var(--ds-primary-main)]"
>
  <div class="flex flex-col gap-6">
    <a
      href="https://www.datastax.com"
      target="_blank"
      id="datastax-docs-logo-text"
      title="Go to the DataStax Website"
      data-track="Footer datastax.com Link Clicked"
    ></a>
    <p class="!m-0">
      <span>©</span>
      <span id="copyrightdate">2023</span>
      <span>DataStax |
        <a
          href="https://www.datastax.com/legal/datastax-website-privacy-policy"
          target="_blank"
          data-track="Footer Privacy Policy Link Clicked"
        >Privacy policy</a>
        |
        <a
          href="https://www.datastax.com/legal/datastax-website-terms-use"
          target="_blank"
          data-track="Footer Terms of Use Link Clicked"
        >Terms of use</a>
      </span>
    </p>
    <p class="text-xs !m-0 max-w-[640px] text-[var(--ds-text-tertiary)]">Apache,
      Apache Cassandra, Cassandra, Apache Tomcat, Tomcat, Apache Lucene, Apache
      Solr, Apache Hadoop, Hadoop, Apache Pulsar, Pulsar, Apache Spark, Spark,
      Apache TinkerPop, TinkerPop, Apache Kafka and Kafka are either registered
      trademarks or trademarks of the Apache Software Foundation or its
      subsidiaries in Canada, the United States and/or other countries.
      Kubernetes is the registered trademark of the Linux Foundation.</p>
  </div>
  <div class="flex flex-col gap-6 md:ml-auto md:items-end">
    <div class="flex gap-4">
      <a
        href="https://www.facebook.com/datastax"
        target="_blank"
        data-track="Footer Facebook Link Clicked"
        title="Go to DataStax Facebook"
        class="h-5 w-5 bg-[url('../img/social-facebook.svg')] bg-no-repeat dark:invert"
      ></a>
      <a
        href="https://twitter.com/datastax"
        target="_blank"
        title="Go to DataStax X (Twitter)"
        data-track="Footer Twitter Link Clicked"
        class="h-5 w-5 bg-[url('../img/social-x.svg')] bg-no-repeat dark:invert"
      ></a>
      <a
        href="https://github.com/datastax/"
        target="_blank"
        title="Go to DataStax GitHub"
        data-track="Footer Github Link Clicked"
        class="h-5 w-5 bg-[url('../img/social-github.svg')] bg-no-repeat dark:invert"
      ></a>
      <a
        href="https://www.twitch.tv/datastaxdevs"
        target="_blank"
        title="Go to DataStax Twitch"
        data-track="Footer Twitch Link Clicked"
        class="h-5 w-5 bg-[url('../img/social-twitch.svg')] bg-no-repeat dark:invert"
      ></a>
      <a
        href="https://www.linkedin.com/company/datastax/"
        target="_blank"
        title="Go to DataStax Linkedin"
        data-track="Linkedin Link Clicked"
        class="h-5 w-5 bg-[url('../img/social-linkedin.svg')] bg-no-repeat dark:invert"
      ></a>
      <a
        href="https://datastax.medium.com/"
        target="_blank"
        title="Go to DataStax Medium"
        data-track="Footer Medium Link Clicked"
        class="h-5 w-5 bg-[url('../img/social-medium.svg')] bg-no-repeat dark:invert"
      ></a>
    </div>
    <p class="!m-0 md:text-right">General Inquiries:
      <a
        href="tel:+1-650-389-6000"
        data-track="Footer Telephone Link Clicked"
      >+1 (650) 389-6000</a>,
      <a
        href="mailto:info@datastax.com"
        data-track="Footer Email Link Clicked"
      >info@datastax.com</a>
    </p>
  </div>
</footer>