<div class="footer--divider"></div>

<footer class="footer">
  <div class="footer-column">
    <a href="https://www.datastax.com" target="_blank" id="datastax-docs-logo-text"
      title="Go to the DataStax Website"></a>
    <p>
      <span>©</span>
      <span id="copyrightdate">2023</span>
      <span>DataStax |
        <a href="https://www.datastax.com/legal/datastax-website-privacy-policy" target="_blank">Privacy policy</a> |
        <a href="https://www.datastax.com/legal/datastax-website-terms-use" target="_blank">Terms of use</a>
      </span>
    </p>
    <p class="footer--trademarks">Apache, Apache Cassandra, Cassandra, Apache Tomcat, Tomcat, Apache Lucene,
      Apache Solr, Apache Hadoop, Hadoop, Apache Pulsar, Pulsar, Apache Spark, Spark, Apache
      TinkerPop, TinkerPop, Apache Kafka and Kafka are either registered trademarks or
      trademarks of the Apache Software Foundation or its subsidiaries in Canada,
      the United States and/or other countries. Kubernetes is the registered trademark
      of the Linux Foundation.</p>
  </div>
  <div class="footer-column contact">
    <div class="social-icons">
      <a href="https://www.facebook.com/datastax" target="_blank" class="facebook-icon"
        title="Go to DataStax Facebook"></a>
      <a href="https://twitter.com/datastax" target="_blank" class="x-icon" title="Go to DataStax X (Twitter)"></a>
      <a href="https://github.com/datastax/" target="_blank" class="git-icon" title="Go to DataStax GitHub"></a>
      <a href="https://www.twitch.tv/datastaxdevs" target="_blank" class="twitch-icon"
        title="Go to DataStax Twitch"></a>
      <a href="https://www.linkedin.com/company/datastax/" target="_blank" class="linkedin-icon"
        title="Go to DataStax Linkedin"></a>
      <a href="https://datastax.medium.com/" target="_blank" class="medium-icon" title="Go to DataStax Medium"></a>
    </div>
    <p class="footer--contact-us">General Inquiries:
      <a href="tel:+1-650-389-6000">+1 (650) 389-6000</a>
      <a href="mailto:info@datastax.com">info@datastax.com</a>
    </p>
  </div>
</footer>