    <title>{{{detag (or page.title defaultPageTitle)}}}{{#with page.component.title}}{{#if (not (includes this (or ../page.title ../defaultPageTitle) true))}} | {{this}}{{/if}}{{/with}}{{#with site.title}} | {{this}}{{/with}}</title>
