<div class="grid max-w-full h-full xl:gap-x-10 gap-y-3 px-3 py-4 mx-auto lg:px-6">
  <main class="w-[min(48rem,100%)] max-w-[48rem] mx-auto min-w-0 mb-8">
    {{> breadcrumbs}}
    {{#if (eq page.layout '404')}}
    {{> article-404}}
    {{else}}
    {{> article}}
    {{/if}}
  </main>
  {{> toc}}
  {{> footer}}
</div>
