<ul class="bg-level1 sticky bottom-0 mt-auto flex flex-col py-3">
  <li>
    <a
      class="text-body-small hover:bg-level2 flex py-1 pl-3 !no-underline"
      href="https://www.datastax.com/"
      target="_self"
    >
      <span class="material-icons text-tertiary mr-2">home</span>
      DataStax Home
    </a>
  </li>
  <li>
    <a
      class="text-body-small hover:bg-level2 flex py-1 pl-3 !no-underline"
      href="/en/glossary/doc"
      target="_blank"
    >
      <span class="material-icons text-tertiary mr-2">menu_book</span>
      Glossary
    </a>
  </li>
  <li>
    <a
      class="text-body-small hover:bg-level2 flex py-1 pl-3 !no-underline"
      href="https://support.datastax.com/"
      target="_blank"
    >
      <span class="material-icons text-tertiary mr-2">support</span>
      Support
    </a>
  </li>
  <li>
    <a
      class="text-body-small hover:bg-level2 flex py-1 pl-3 !no-underline"
      href="https://downloads.datastax.com/"
      target="_blank"
    >
      <span class="material-icons text-tertiary mr-2">downloading</span>
      Downloads
    </a>
  </li>
</ul>