<ul class="secondary-nav-list sticky bottom-0 flex flex-col">
  <li class="nav-item">
    <a class="nav-link" href="https://www.datastax.com/" target="_self">
      <span class="material-icons">home</span>
      DataStax Home
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/en/glossary/doc" target="_blank">
      <span class="material-icons">menu_book</span>
      Glossary
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://support.datastax.com/" target="_blank">
      <span class="material-icons">support</span>
      Support
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://downloads.datastax.com/" target="_blank">
      <span class="material-icons">downloading</span>
      Downloads
    </a>
  </li>
</ul>