<ul class="bg-level1 sticky bottom-0 mt-auto flex flex-col pt-3 pb-5">
  <li>
    <a
      class="text-body-small text-primary hover:bg-level2 flex rounded p-1 !no-underline transition-colors"
      href="https://www.datastax.com/"
      target="_self"
    >
      <span class="material-icons text-tertiary mr-2">home</span>
      DataStax Home
    </a>
  </li>
  <li>
    <a
      class="text-body-small text-primary hover:bg-level2 flex rounded p-1 !no-underline transition-colors"
      href="{{{site.path}}}/glossary"
      target="_blank"
    >
      <span class="material-icons text-tertiary mr-2">menu_book</span>
      Glossary
    </a>
  </li>
  <li>
    <a
      class="text-body-small text-primary hover:bg-level2 flex rounded p-1 !no-underline transition-colors"
      href="https://support.datastax.com/"
      target="_blank"
    >
      <span class="material-icons text-tertiary mr-2">support</span>
      Support
    </a>
  </li>
  <li>
    <a
      class="text-body-small text-primary hover:bg-level2 flex rounded p-1 !no-underline transition-colors"
      href="https://downloads.datastax.com/"
      target="_blank"
    >
      <span class="material-icons text-tertiary mr-2">downloading</span>
      Downloads
    </a>
  </li>
</ul>
