<div class="navbar bg-body border-b z-40 fixed top-0 flex flex-col w-full {{#if site.keys.globalNav}}h-32{{else}}h-20{{/if}}">
  <nav class="flex flex-auto items-center gap-2 lg:gap-4 p-4">
    {{#unless (eq page.layout 'home')}}
    <label
      for="nav-drawer-input"
      class="btn btn-neutral btn-plain btn-icon drawer-button w-6 h-6 sm:h-10 sm:w-10 lg:hidden"
    >
      <i class="icon material-icons">menu_open</i>
    </label>
    {{/unless}}
    <a href="{{#> logo-url}}{{{or site.url siteRootPath}}}{{/logo-url}}" class="[&>svg]:w-[110px] sm:[&>svg]:w-[140px] md:[&>svg]:w-[172px]">
      {{> logo}}
    </a>
    <div class="DocSearch ml-auto md:mr-auto" id="docsearch"></div>
    {{> theme-toggle}}
  </nav>
 {{> global-nav}}
</div>