{{#with page.versions}}
<div class="dropdown mb-2">
  <button id="page-version-dropdown" title="Show other versions of page" class="group dropdown-trigger btn btn-soft btn-primary btn-small" aria-haspopup="true" aria-expanded="false">
    Version: <span class="font-bold ml-1">{{@root.page.componentVersion.displayVersion}}{{#if (eq @root.page.component.latest.version @root.page.componentVersion.version)}} (Latest){{/if}}</span>
    <i class="material-icons text-lg color-primary motion-safe:transition-transform motion-safe:duration-300 motion-safe:ease-in-out ml-[0.15em] group-[.active]:rotate-180">expand_more</i>
  </button>
  <ul class="dropdown-content py-2 bg-body border rounded w-32 z-50" role="menu" aria-orientation="vertical" aria-labelledby="page-version-dropdown">
    {{#each this}}
    <li>
      <a 
        class="!no-underline w-full py-1 px-3 block transition-colors
          {{~#if (eq ./version @root.page.version)}} font-bold color-primary{{/if~}}"
        href="{{{relativize ./url}}}">
          {{./displayVersion}}{{#if (eq @root.page.component.latest.version ./version)}} (Latest){{/if}}
      </a>
    </li> 
    {{/each}}
  </ul>
</div>
{{/with}}
