{{#with page.navigation}}
<nav class="h-full bg-level1 overflow-y-auto flex flex-col w-[17rem] pt-2" 
  {{#if page.component}} data-component="{{page.component.name}}"
    data-version="{{page.version}}" {{/if}}>
      {{> nav-tree navigation=this}}
      {{> nav-secondary}}
</nav>
{{/with}}
