<div class="sect1 ds-row">
	<h2 id="_support"><a class="anchor" href="#_support"></a> Support</h2>
	<div class="sectionbody">
    <div class="sect2">
      <h4>Was This Helpful?</h4>
      <div class="paragraph">
        <p class="navbar-end">
        <button href="#_support_yes" id="_support_yes" class="ds-button ds-button--color-neutral 
          ds-button--variant-outlined" data-track="Support - Was This Helpful: Yes!">
          <span
            class="material-icons ds-button--leading-icon">thumb_up</span>Yes</button>
        <button href="#_support_no" id="_support_no" class="ds-button ds-button--color-neutral 
          ds-button--variant-outlined" data-track="Support - Was This Helpful: No">
          <span
            class="material-icons ds-button--leading-icon">thumb_down</span>No</button>   
        </p> 
      </div>
    </div>
    <div class="sect2">
      <h4>Need More Help?</h4>
      <div class="ulist unstyled landing-support">
        <ul class="unstyled">
          <li>
            <p><a href="{#}" class="community">
              Ask the Astra community</a></p></li>
          <li>
            <p><a href="{#}" class="support">
              Get in touch with support</a></p></li>
        </ul>
      </div>
    </div>
  </div>
</div>