<div role="group" id="theme-toggle" class="border flex items-center rounded-[3rem] h-8 px-1 gap-0.5" aria-label="Theme Selection Toggle">
  <span class="thumb w-6 h-6 absolute rounded-full transition-all [&.light]:bg-amber-300 [&.light]:translate-x-0 [&.dark]:bg-purple-500 [&.dark]:translate-x-[1.6125rem] [&.system]:bg-[var(--ds-neutral-solid-bg)] [&.system]:translate-x-[3.25rem]"></span>
  <button 
    class="toggle-button w-6 h-6 flex items-center justify-center rounded-full hover:bg-[var(--ds-neutral-plain-hover-bg)] z-0 transition-all [&.active]:hover:bg-transparent" 
    aria-pressed="false" 
    tabindex="0" 
    value="light" 
    aria-label="Light">
      <i class="icon-sun"></i>
  </button>
  <button 
    class="toggle-button w-6 h-6 flex items-center justify-center rounded-full hover:bg-[var(--ds-neutral-plain-hover-bg)] z-0 transition-all [&.active]:hover:bg-transparent" 
    aria-pressed="false" 
    tabindex="0" 
    value="dark" 
    aria-label="Dark">
      <i class="icon-moon"></i>
  </button>
  <button 
    class="toggle-button w-6 h-6 flex items-center justify-center rounded-full hover:bg-[var(--ds-neutral-plain-hover-bg)] z-0 transition-all [&.active]:hover:bg-transparent [&.active]:text-[var(--ds-neutral-solid-color)]" 
    aria-pressed="false" 
    tabindex="0" 
    value="system" 
    aria-label="System">
      <i class="icon-monitor"></i>
  </button>
</div>