<div role="group" id="theme-toggle" class="border flex items-center rounded-[36px] p-0.5 gap-0.5 ml-6" aria-label="Theme Selection Toggle">
  <span class="thumb w-5 h-5 absolute rounded-full transition-all [&.light]:bg-amber-300 [&.light]:translate-x-0 [&.dark]:bg-purple-500 [&.dark]:translate-x-[1.375rem] [&.system]:bg-[var(--ds-neutral-solid-bg)] [&.system]:translate-x-[2.75rem]"></span>
  <button 
    class="toggle-button w-5 h-5 flex items-center justify-center rounded-full hover:bg-level2 z-0 transition-all [&.active]:hover:bg-transparent" 
    aria-pressed="false" 
    tabindex="0" 
    value="light" 
    aria-label="Light">
      <i data-lucide="sun" class="w-[0.8125rem] h-[0.8125rem]"></i>
  </button>
  <button 
    class="toggle-button w-5 h-5 flex items-center justify-center rounded-full hover:bg-level2 z-0 transition-all [&.active]:hover:bg-transparent" 
    aria-pressed="false" 
    tabindex="0" 
    value="dark" 
    aria-label="Dark">
      <i data-lucide="moon" class="w-[0.8125rem] h-[0.8125rem]"></i>
  </button>
  <button 
    class="toggle-button w-5 h-5 flex items-center justify-center rounded-full hover:bg-level2 z-0 transition-all [&.active]:hover:bg-transparent [&.active]:text-[var(--ds-neutral-solid-color)]" 
    aria-pressed="false" 
    tabindex="0" 
    value="system" 
    aria-label="System">
      <i data-lucide="monitor" class="w-[0.8125rem] h-[0.8125rem]"></i>
  </button>
</div>