<div role="group" id="theme-toggle" class="border flex items-center rounded-[3rem] h-8 px-1 gap-0.5" aria-label="Theme Selection Toggle">
  <span class="thumb w-6 h-6 absolute rounded-full transition-all"></span>
  <button 
    class="toggle-button light w-6 h-6 flex items-center justify-center rounded-full hover:bg-[var(--ds-neutral-plain-hover-bg)] z-0 transition-all" 
    aria-pressed="false" 
    tabindex="0" 
    value="light" 
    aria-label="Light">
      <i class="icon-sun"></i>
  </button>
  <button 
    class="toggle-button dark w-6 h-6 flex items-center justify-center rounded-full hover:bg-[var(--ds-neutral-plain-hover-bg)] z-0 transition-all" 
    aria-pressed="false" 
    tabindex="0" 
    value="dark" 
    aria-label="Dark">
      <i class="icon-moon"></i>
  </button>
  <button 
    class="toggle-button system w-6 h-6 flex items-center justify-center rounded-full hover:bg-[var(--ds-neutral-plain-hover-bg)] z-0 transition-all" 
    aria-pressed="false" 
    tabindex="0" 
    value="system" 
    aria-label="System">
      <i class="icon-monitor"></i>
  </button>
</div>