<div class="toc-menu toc-dev">
  <h3>Developer Resources</h3>
  {{#with page.attributes.colab-link}}
  <a href="{{{this}}}" target="_blank" class="colab ds-button ds-button--variant-outlined ds-button--color-neutral">
    <div class="ds-button--leading-icon">{{{svg 'colab'}}}</div>
    Run this on Colab
  </a>
  {{/with}}
</div>