<aside class="toc sidebar" data-title="{{{or page.attributes.toctitle 'Contents'}}}"
  data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-menu-container">
    <div class="toc-menu"></div>
    <div class="toc-menu toc-tags"></div>
    {{> toc-developer-resources}}
    {{#if page.versions}}
    <div class="toc-menu toc-versions">
      {{> page-versions}}
    </div>
    {{/if}}
  </div>
</aside>