<div class="tutorial-info is-before-toc">
  {{#with page.attributes.skill-level}}
  <div class="info-item">
    <span class="material-icons">network_check</span>
    {{{this}}}
  </div>
  {{/with}}
  {{#with (stepcount page.contents)}}
  <div class="info-item">
    <span class="material-icons">playlist_add_check</span>
    {{{this}}} Steps
  </div>
  {{/with}}
  {{#with page.attributes.time-commitment}}
  <div class="info-item">
    <span class="material-icons">query_builder</span>
    {{{this}}}
  </div>
  {{/with}}
</div>