@layer base {
  html {
    scroll-behavior: smooth;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  body {
    @apply antialiased;

    font-weight: 400;
    background: var(--ds-background-body);
    color: var(--ds-text-primary);
    font-family: "Roboto Flex", sans-serif;
    line-height: 1.5;
    margin: 0;
    tab-size: 4;
  }

  html:has(dialog[open]) {
    overflow: hidden;
  }

  ::backdrop {
    background-color: var(--ds-background-backdrop);
    backdrop-filter: blur(4px);
  }

  *,
  ::before,
  ::after {
    border: 0 solid var(--ds-divider);
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    background-color: none;
  }

  code,
  kbd,
  pre {
    font-family: "Roboto Mono", monospace;
  }

  b,
  dt,
  strong,
  th {
    font-weight: 600;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  svg.icon {
    display: inline-block;
    height: 1.25em;
    width: 1.25em;
    vertical-align: text-bottom;
  }

  @media (pointer: fine) {
    @supports (scrollbar-width: thin) {
      html {
        scrollbar-color: var(--ds-text-placeholder) var(--ds-background-body);
      }

      body * {
        scrollbar-width: thin;
        scrollbar-color: var(--ds-text-placeholder) transparent;
      }
    }

    html::-webkit-scrollbar {
      background-color: var(--ds-background-body);
      height: 12px;
      width: 12px;
    }

    body ::-webkit-scrollbar {
      height: 6px;
      width: 6px;
    }

    ::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      background-color: var(--ds-text-placeholder);
      border: 3px solid transparent;
      border-radius: 12px;
    }

    body ::-webkit-scrollbar-thumb {
      border-width: 1.75px;
      border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: var(--ds-text-tertiary);
    }
  }
}
