@layer base {
  .text-primary {
    color: var(--ds-text-primary);
  }

  .text-secondary {
    color: var(--ds-text-secondary);
  }

  .text-tertiary {
    color: var(--ds-text-tertiary);
  }

  .text-inverse {
    color: var(--ds-text-inverse);
  }

  .text-warning {
    color: var(--ds-warning-main);
  }

  .text-success {
    color: var(--ds-success-main);
  }

  .text-failure {
    color: var(--ds-failure-main);
  }

  .text-link,
  .color-primary {
    color: var(--ds-primary-main);
  }

  .bg-body {
    background-color: var(--ds-background-body);
  }

  .bg-level1 {
    background-color: var(--ds-background-level1);
  }

  .bg-level2 {
    background-color: var(--ds-background-level2);
  }

  .bg-level3 {
    background-color: var(--ds-background-level3);
  }
}
