.DocSearch .DocSearch-Hit[aria-selected="true"] a {
  background-color: var(--ds-background-level1);
}

html[data-theme="dark"] .DocSearch .DocSearch-Modal {
  border: 1px solid var(--ds-divider);
}

.DocSearch .DocSearch-Footer {
  border-top: 1px solid var(--ds-divider);
}

.DocSearch .DocSearch-Commands-Key,
.DocSearch .DocSearch-Button-Key {
  border-radius: 4px;
  color: var(--ds-text-tertiary);
}

.DocSearch .DocSearch-LoadingIndicator svg,
.DocSearch .DocSearch-MagnifierLabel svg {
  width: 20px;
  height: 20px;
}

.DocSearch .DocSearch-Input {
  font-size: 1rem;
  font-weight: 400;
}

.DocSearch .DocSearch-Form {
  border-radius: 6px;
  border: 1px solid var(--ds-neutral-outlined-border);

  &:hover {
    border-color: var(--ds-neutral-outlined-hover-border);
  }

  &:focus-within {
    outline: 2px solid var(--ds-focus-visible);
    outline-offset: -2px;
  }
}

.DocSearch .DocSearch-Button-Placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: var(--ds-text-placeholder);
  margin-right: var(--ds-space-5);
}

.DocSearch .DocSearch-Button {
  @apply transition-colors;

  min-width: var(--ds-space-5);
  height: var(--ds-space-5);
  border-radius: 6px;
  border: 1px solid var(--ds-neutral-outlined-border);
  margin: 0;
  justify-content: center;

  &:hover {
    background-color: var(--ds-neutral-outlined-hover-bg);
    border-color: var(--ds-neutral-outlined-hover-border);
  }

  &:active {
    background-color: var(--ds-neutral-outlined-active-bg);
  }
}

.DocSearch .DocSearch-Hit[aria-selected="false"] mark {
  text-decoration: underline;
}

.DocSearch .DocSearch-Search-Icon {
  display: none;
}

.DocSearch.DocSearch-Container {
  backdrop-filter: blur(4px);
}

.DocSearch .DocSearch-Button-Container::before,
.DocSearch .DocSearch-MagnifierLabel::before {
  font-family: "Material Icons Outlined", sans-serif;
  font-weight: 400;
  font-size: calc(18 / var(--rem-base) * 1rem);
  content: "\e8b6";
  color: var(--ds-text-primary);
}

@media screen and (max-width: 768px) {
  .DocSearch.DocSearch-Container {
    position: fixed;
    height: 100vh;
  }
}

.DocSearch {
  --docsearch-primary-color: var(--ds-text-primary);
  --docsearch-text-color: var(--ds-text-primary);
  --docsearch-spacing: var(--ds-space-2);
  --docsearch-icon-stroke-width: 1.4;
  --docsearch-highlight-color: var(--ds-text-primary);
  --docsearch-muted-color: var(--ds-text-placeholder);
  --docsearch-container-background: var(--ds-background-backdrop);
  --docsearch-logo-color: var(--ds-text-primary);

  /* modal */
  --docsearch-modal-width: 720px;
  --docsearch-modal-height: 600px;
  --docsearch-modal-background: var(--ds-background-body);
  --docsearch-modal-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5), 0 3px 8px 0 rgba(85, 90, 100, 1);

  /* searchbox */
  --docsearch-searchbox-height: var(--ds-space-7);
  --docsearch-searchbox-background: none;
  --docsearch-searchbox-focus-background: none;
  --docsearch-searchbox-shadow: none;

  /* hit */
  --docsearch-hit-height: var(--ds-space-7);
  --docsearch-hit-color: var(--ds-text-primary);
  --docsearch-hit-active-color: var(--ds-text-primary);
  --docsearch-hit-background: var(--ds-background-body);
  --docsearch-hit-shadow: none;

  /* key */
  --docsearch-key-gradient: var(--ds-background-level1);
  --docsearch-key-shadow: none;

  /* footer */
  --docsearch-footer-height: var(--ds-space-6);
  --docsearch-footer-background: var(--ds-background-body);
  --docsearch-footer-shadow: none;
}

/* Darkmode */

html[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ds-text-primary);
  --docsearch-container-background: var(--ds-background-backdrop);
  --docsearch-modal-background: var(--ds-background-body);
  --docsearch-modal-shadow: none;
  --docsearch-searchbox-background: none;
  --docsearch-searchbox-focus-background: none;
  --docsearch-hit-color: var(--ds-text-primary);
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: var(--ds-background-body);
  --docsearch-key-gradient: var(--ds-background-level1);
  --docsearch-key-shadow: none;
  --docsearch-footer-background: var(--ds-background-body);
  --docsearch-footer-shadow: none;
  --docsearch-logo-color: var(--ds-text-primary);
  --docsearch-muted-color: var(--ds-text-placeholder);
}
