/* Source block */

/*
 *  Usage: [source,python]
 *
 *  Text wrap style: [source.wrap,python]
 *  Hide language title style: [source.hidelang,python]
 */
.doc code.hljs {
  color: var(--ds-text-secondary);
}

.doc .highlightjs {
  position: relative;
}

.doc .listingblock:not(.wrap) .highlightjs {
  text-wrap: nowrap;
}

.doc .source-titlebar {
  padding: var(--ds-space-h) var(--ds-space-1);
  background: var(--ds-background-level2);
  border-top-left-radius: calc(6 / var(--rem-base) * 1rem);
  border-top-right-radius: calc(6 / var(--rem-base) * 1rem);
  border: 1px solid transparent;
}

.doc .source-titlebar .source-lang {
  @include text-label;

  color: var(--ds-text-primary);
  text-transform: capitalize;
  line-height: 1;
}

.doc .source-toolbox {
  position: absolute;
  right: 0;
  padding: 1.25rem;
  height: calc(100% - 6px);
  margin: 1px;
  border-radius: 6px;
}

html[data-theme="light"] .doc .source-toolbox {
  background: linear-gradient(to right, rgba(247, 247, 247, 0), rgb(247, 247, 247), rgb(247, 247, 247) 20%);
}

html[data-theme="dark"] .doc .source-toolbox {
  background: linear-gradient(to right, rgba(35, 35, 36, 0), rgb(35, 35, 36), rgb(35, 35, 36) 20%);
}

.doc .source-toolbox .copy-toast {
  font-size: calc(12 / var(--rem-base) * 1rem);
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  display: inline-flex;
  justify-content: center;
  position: absolute;
  background-color: var(--ds-background-tooltip);
  border-radius: 0.25em;
  padding: 0.5em;
  color: var(--ds-text-inverse);
  cursor: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease 0.5s, visibility 0s linear 1s;
  text-wrap: nowrap;
  white-space: nowrap;
  transform: translateX(-2.35rem) translateY(-5rem);
  z-index: 20;
}

.doc .source-toolbox .copy-toast::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1em;
  height: 1em;
  border: 0.55em solid transparent;
  border-left-color: var(--ds-background-tooltip);
  transform: rotate(90deg) translateX(100%);
}

.doc .source-toolbox .copy-button.clicked .copy-toast {
  opacity: 1;
  visibility: visible;
  transition: none;
}

.doc .source-toolbox .copy-button {
  padding: var(--ds-space-1);
  background: var(--ds-background-level1);
  border-radius: 6px;
  line-height: 1;
  display: flex;

  @apply transition-colors;

  &:hover {
    background: var(--ds-background-level2);
  }
}

.doc .source-toolbox .copy-button .material-icons {
  font-size: calc(16 / var(--rem-base) * 1rem);
  user-select: none;
}

.doc .source-toolbox + .hljs {
  padding-right: var(--ds-space-7);
}

.doc .listingblock.hidelang .source-titlebar {
  display: none;
}

.doc .listingblock:not(.hidelang) .source-titlebar ~ .highlightjs .hljs {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 *
 * Admonitions component
 *
 */
.doc .admonitionblock {
  border: 1px solid var(--ds-success-outlined-border);
  border-radius: calc(6 / var(--rem-base) * 1rem);
  overflow-x: hidden;
}

.doc .admonitionblock > table > tbody > tr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.doc .admonitionblock .icon {
  display: flex;
  gap: var(--ds-space-1);
  align-items: center;
  align-self: stretch;
  position: unset;
  width: 100%;
  transform: none;
  text-transform: none;
  color: var(--ds-text-primary);
  font-size: calc(16 / var(--rem-base) * 1rem);
  line-height: 1.5;
  height: var(--ds-space-6);
  padding: var(--ds-space-1h) var(--ds-space-2);
  border-radius: 0;
}

.doc .admonitionblock td.content > *,
.doc .admonitionblock td.content p {
  margin-top: var(--ds-space-2);
}

.doc .admonitionblock td.content .ulist p {
  margin-top: 0;
}

.doc .admonitionblock td.content > .paragraph:first-child p:first-child,
.doc .admonitionblock td.content > .title {
  margin: 0;
}

.doc .admonitionblock .title {
  font-style: normal;
}

.doc .admonitionblock td.content {
  background: none;
}

.doc .admonitionblock .icon::before {
  font-family: "Material Icons Outlined", sans-serif;
  font-size: calc(20 / var(--rem-base) * 1rem);
  font-weight: normal;
}

/* TIP, NOTE */
.doc .admonitionblock.tip .icon,
.doc .admonitionblock.note .icon {
  background: var(--ds-success-soft-bg);
  color: var(--ds-text-primary);
}

.doc .admonitionblock.note .icon::before {
  color: var(--ds-success-500);
  content: '\e88e';
}

.doc .admonitionblock.tip .icon::before {
  color: var(--ds-success-500);
  content: '\e0f0';
}

/* CAUTION */
.doc .admonitionblock.caution .icon {
  background: var(--ds-warning-soft-bg);
  color: var(--ds-text-primary);
}

.doc .admonitionblock.caution {
  border: 1px solid var(--ds-warning-outlined-border);
}

.doc .admonitionblock.caution .icon::before {
  color: var(--ds-warning-500);
  content: '\e88e';
}

/* WARNING, IMPORTANT */
.doc .admonitionblock.warning .icon,
.doc .admonitionblock.important .icon {
  background: var(--ds-failure-soft-bg);
  color: var(--ds-text-primary);
}

.doc .admonitionblock.warning,
.doc .admonitionblock.important {
  border: 1px solid var(--ds-failure-outlined-border);
}

.doc .admonitionblock.warning .icon::before {
  color: var(--ds-failure-500);
  content: '\f083';
}

.doc .admonitionblock.important .icon::before {
  color: var(--ds-failure-500);
  content: '\e160';
}

html[data-theme="dark"] .doc .admonitionblock .icon::before {
  color: var(--ds-primary-text);
}

/*
 *
 * Dialog component
 *
 */

dialog {
  display: none;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid var(--ds-neutral-300);
  width: 90%;
  max-width: 640px;
  background: var(--body-background);
  color: var(--doc-font-color);
}

/* dialog header */
dialog .header {
  display: flex;
  padding: var(--ds-space-3);
  padding-bottom: var(--ds-space-2);
  align-items: center;
  gap: var(--ds-space-2);
  align-self: stretch;
  justify-content: space-between;
  border-bottom: 1px solid var(--ds-neutral-200);
}

dialog .header .title {
  @include text-h1;

  color: var(--heading-font-color);
}

dialog .header .close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--ds-space-1);
}

dialog .header kbd {
  border: none;
  box-shadow: none;
  background: var(--ds-neutral-100);
}

dialog .header button {
  background: transparent;
  border: none;
  line-height: 1;
}

dialog .header .material-icons {
  color: var(--link-font-color);
}

/* dialog content */
dialog form {
  width: 100%;
}

dialog .content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border-bottom: 1px solid var(--ds-neutral-200);
  padding: var(--ds-space-3) var(--ds-space-4) var(--ds-space-3) var(--ds-space-3);
}

dialog .content .message {
  @include text-h2;

  color: var(--heading-font-color);
  margin-bottom: var(--ds-space-4);
}

dialog .content .question {
  font-size: calc(13 / var(--rem-base) * 1rem);
  color: var(--ds-neutral-700);
  font-weight: 600;
  letter-spacing: 0.65px;
}

dialog .content textarea {
  font-family: var(--body-font-family);
  color: var(--doc-font-color);
  background: var(--body-background);
  height: calc(160 / var(--rem-base) * 1rem);
  margin-top: var(--ds-space-h);
  resize: none;
  padding: var(--ds-space-1);
  border-radius: 6px;
  border: 1px solid var(--ds-neutral-300);
}

dialog .action {
  display: flex;
  padding: var(--ds-space-2) var(--ds-space-3) var(--ds-space-3) var(--ds-space-3);
  align-items: center;
  gap: var(--ds-space-1);
  align-self: stretch;
  justify-content: flex-end;
}

dialog[open] {
  display: flex;
}

dialog::backdrop {
  background: rgba(10, 10, 10, 0.6);
}

.dialog-action,
.dialog-action--response {
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition-delay: 300ms;
}

.dialog-action + .dialog-action--response {
  position: absolute;
  top: 0;
  line-height: var(--ds-space-5);
  height: var(--ds-space-5);
}

.dialog-action--response {
  font-weight: 600;
  transition-delay: 1200ms;
}

.dialog-action--container {
  position: relative;

  & .dialog-action {
    opacity: 1;
    visibility: visible;
  }

  & .dialog-action--response {
    opacity: 0;
    visibility: hidden;
  }

  &:not(.first-time) .dialog-action {
    transition-delay: 2000ms;
  }

  &.dialog-action--animate {
    & .dialog-action {
      opacity: 0;
      visibility: hidden;
    }

    & .dialog-action--response {
      opacity: 1;
      visibility: visible;
    }
  }
}
