.ds-button {
  border-radius: 6px;
  padding: 0 12px;
  height: 40px;
  font-size: var(--ds-space-2);
  font-weight: 600;
  transition: var(--ds-transition);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus-visible {
    outline: 2px solid var(--ds-focus-visible);
  }
}

/* icon button */
.ds-button--is-icon {
  height: 40px;
  width: 40px;
  padding: 0;
}

.ds-button--leading-icon {
  margin-right: 8px;
}

.ds-button--trailing-icon {
  margin-left: 8px;
}

.ds-button--variant-outlined {
  border: 1px solid var(--ds-divider);
  background-color: transparent;
}

.ds-button--variant-plain {
  background-color: transparent;
}

.ds-button.ds-button--variant-outlined.ds-button--color-neutral {
  border-color: var(--ds-neutral-outlined-border);
  color: var(--ds-neutral-outlined-color);

  &:hover {
    background-color: var(--ds-neutral-outlined-hover-bg);
    border-color: var(--ds-neutral-outlined-hover-border);
  }

  &:active {
    background-color: var(--ds-neutral-outlined-active-bg);
  }

  &[disabled] {
    border-color: var(--ds-neutral-outlined-disabled-border);
    color: var(--ds-neutral-outlined-disabled-color);
  }
}

.ds-button.ds-button--variant-outlined.ds-button--color-primary {
  border-color: var(--ds-primary-outlined-border);
  color: var(--ds-primary-outlined-color);

  &:hover {
    background-color: var(--ds-primary-outlined-hover-bg);
    border-color: var(--ds-primary-outlined-hover-border);
  }

  &:active {
    background-color: var(--ds-primary-outlined-active-bg);
  }

  &[disabled] {
    border-color: var(--ds-primary-outlined-disabled-border);
    color: var(--ds-primary-outlined-disabled-color);
  }
}

.ds-button.ds-button--variant-solid.ds-button--color-neutral {
  background-color: var(--ds-neutral-solid-bg);
  color: var(--ds-neutral-solid-color);

  &:hover {
    background-color: var(--ds-neutral-solid-hover-bg);
  }

  &:active {
    background-color: var(--ds-neutral-solid-active-bg);
  }

  &[disabled] {
    background-color: var(--ds-neutral-solid-disabled-bg);
    color: var(--ds-neutral-solid-disabled-color);
  }
}

.ds-button.ds-button--variant-solid.ds-button--color-primary {
  background-color: var(--ds-primary-solid-bg);
  color: var(--ds-primary-solid-color);

  &:hover {
    background-color: var(--ds-primary-solid-hover-bg);
  }

  &:active {
    background-color: var(--ds-primary-solid-active-bg);
  }

  &[disabled] {
    background-color: var(--ds-primary-solid-disabled-bg);
    color: var(--ds-primary-solid-disabled-color);
  }
}

.ds-button.ds-button--variant-plain.ds-button--color-neutral {
  color: var(--ds-neutral-plain-color);

  &:hover {
    background-color: var(--ds-neutral-plain-hover-bg);
  }

  &:active {
    background-color: var(--ds-neutral-plain-active-bg);
  }

  &[disabled] {
    color: var(--ds-neutral-plain-disabled-color);
  }
}

.ds-button.ds-button--variant-plain.ds-button--color-primary {
  color: var(--ds-primary-plain-color);

  &:hover {
    background-color: var(--ds-primary-plain-hover-bg);
  }

  &:active {
    background-color: var(--ds-primary-plain-active-bg);
  }

  &[disabled] {
    color: var(--ds-primary-plain-disabled-color);
  }
}

/* theme toggle */
.theme-icon-light {
  color: var(--ds-warning-300);
}

.theme-icon-dark {
  color: var(--ds-primary-400);
}
