/* card */
.ds-card .content,
.doc .exampleblock.ds-card > .content {
  display: grid;
  gap: var(--ds-space-2);
  padding: var(--ds-space-3);
  border-radius: calc(6 / var(--rem-base) * 1rem);
  border: 1px solid var(--ds-divider);
}

.ds-card .content {
  margin-top: var(--ds-space-3);
}

.ds-card .content > *,
.ds-card.exampleblock .content > *,
.ds-card.openblock .content > * {
  margin: 0;
}

.doc .ds-card.exampleblock > .content::after {
  display: none;
}

.doc .paragraph.landing-card-icon {
  margin: 0;
}

.ds-card .image.bottom img {
  margin-bottom: calc(24 / var(--rem-base) * -1 * 1rem);
}

/* Feature Card */
.ds-feature {
  padding: var(--ds-space-3);
  background: var(--ds-neutral-soft-bg);
  border-radius: calc(10 / var(--rem-base) * 1rem);
}

.ds-feature .sectionbody {
  display: flex;
  flex-direction: column;
}

.ds-feature .sectionbody > * {
  flex: 1;
}

.doc .ds-feature.header-noline h2:not(.discrete) {
  padding: 0;
}

.doc .ds-feature .paragraph {
  margin-top: var(--ds-space-2);
}

#preamble + .sect1.ds-feature,
.doc .sect1 + .sect1.ds-feature {
  margin-top: var(--ds-space-7);
}

/* Feature Card - Button */
.ds-feature-buttons p {
  display: flex;
  gap: var(--ds-space-1);
}

.doc .ds-feature-buttons.paragraph {
  margin-top: var(--ds-space-4);
}

/* Feature Card - Code */
.doc .ds-feature-code code,
.doc .ds-feature-code pre.highlight code {
  background: var(--ds-text-primary);
  font-size: calc(15.5 / var(--rem-base) * 1rem);
}

.doc .ds-feature-code pre.highlight code,
.doc .ds-feature-code.literalblock pre code {
  padding: var(--ds-space-2) var(--ds-space-3);
}

@media screen and (min-width: 1200px) {
  .ds-feature .sectionbody {
    flex-direction: row;
  }

  .doc .ds-feature-code.listingblock > .content {
    position: absolute;
    width: 100%;
    top: calc(50%);
    transform: translateY(-50%);
  }

  .doc .ds-feature-code.listingblock {
    position: relative;
    margin: 0;
    margin-top: calc(27 / var(--rem-base) * -1 * 1rem);
  }
}
