/* card */
.ds-card .content,
.doc .exampleblock.ds-card > .content {
  display: grid;
  padding: var(--ds-space-3);
  border-radius: calc(6 / var(--rem-base) * 1rem);
  border: 1px solid var(--ds-divider);
}

.ds-card {
  margin-top: var(--ds-space-3);
}

.doc .ds-card .paragraph {
  margin-top: var(--ds-space-2);
}

.doc .ds-card .image:not(.left):not(.right) > img {
  margin-top: var(--ds-space-1);
}

.ds-card > .content > :first-child {
  margin-top: 0;
}

.ds-card .paragraph.landing-card-icon,
.ds-card > .title {
  margin-top: 0;
  margin-bottom: var(--ds-space-3);
}

.ds-card .paragraph.landing-card-icon img {
  display: flex;
  margin: 0 !important;
}

.ds-card .paragraph.landing-card-icon.full {
  padding: 0;
}

.ds-card .paragraph.landing-card-icon.full img {
  width: 100%;
}

.ds-card .paragraph.landing-card-icon.bg-black {
  background: #000000;
}

.ds-card .paragraph.landing-card-icon.bg-deep-brand-blue {
  background: #188BF5;
}

.ds-row .ds-card + .ds-card {
  margin: 0;
}

.doc .ds-card.exampleblock > .content::after {
  display: none;
}

.ds-card .image.bottom img {
  margin-bottom: calc(24 / var(--rem-base) * -1 * 1rem);
}

/* Feature Card */
.ds-feature {
  padding: var(--ds-space-3);
  background: var(--ds-neutral-soft-bg);
  border-radius: calc(10 / var(--rem-base) * 1rem);
}

.ds-feature .sectionbody {
  display: flex;
  flex-direction: column;
}

.ds-feature .sectionbody > * {
  flex: 1;
}

.doc .ds-feature.header-noline h2:not(.discrete) {
  padding: 0;
}

.doc .ds-feature .paragraph:first-of-type {
  margin-top: var(--ds-space-2);
  padding-right: var(--ds-space-6);
}

#preamble + .sect1.ds-feature,
.doc .sect1 + .sect1.ds-feature {
  margin-top: var(--ds-space-7);
}

/* Feature Card - Button */
.ds-feature-buttons p {
  display: flex;
  gap: var(--ds-space-1);
}

.doc .ds-feature-buttons.paragraph {
  margin-top: var(--ds-space-4);
}

/* Feature Card - Code */
.doc .ds-feature-code code,
.doc .ds-feature-code pre.highlight code {
  background: var(--ds-text-primary);
  font-size: calc(15.5 / var(--rem-base) * 1rem);
}

.doc .ds-feature-code pre.highlight code,
.doc .ds-feature-code.literalblock pre code {
  padding: var(--ds-space-2) var(--ds-space-3);
}

@media screen and (min-width: 1200px) {
  .ds-feature .sectionbody {
    flex-direction: row;
  }

  .doc .ds-feature-code.listingblock > .content {
    position: absolute;
    width: 100%;
    top: calc(50%);
    transform: translateY(-50%);
  }

  .doc .ds-feature-code.listingblock {
    position: relative;
    margin: 0;
    margin-top: calc(27 / var(--rem-base) * -1 * 1rem);
  }
}

/* Card child list anchor with tutorial/guide icon */

.ds-card .unstyled li:first-of-type p {
  display: flex;
}

.ds-card .unstyled li:first-of-type .material-icons {
  margin-right: var(--ds-space-h);
}

.ds-card .unstyled li:first-of-type p a {
  flex: 1;
}


/* text-overflow */
.ds-card .text-overflow p  {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
