/*
 *
 *  Landing template
 *
 */

/* Extend .doc max-width */
@media screen and (min-width: 1024px) {
  html[data-layout="landing"] .doc,
  html[data-layout="full"] .doc {
    max-width: calc(1280 / var(--rem-base) * 1rem);
  }

  html[data-layout="full"] main {
    padding: 0;
  }
}

html[data-layout="full"] main > .content {
  justify-content: center;
}

html[data-layout="full"] .content-container {
  flex-wrap: wrap;
  align-content: center;
}

html[data-layout="landing"] .toolbar,
html[data-layout="full"] .toolbar {
  justify-content: flex-end;
}

html[data-layout="landing"] .doc > h1.page:first-child,
html[data-layout="full"] .doc > h1.page:first-child {
  font-size: calc(34 / var(--rem-base) * 1rem);
  margin-top: var(--ds-space-3);
  margin-top: var(--ds-space-2);
}

html[data-layout="landing"] #preamble,
html[data-layout="full"] #preamble {
  max-width: 650px;
}

html[data-layout="landing"] .doc .olist li + li,
html[data-layout="landing"] .doc .ulist li + li,
html[data-layout="full"] .doc .olist li + li,
html[data-layout="full"] .doc .ulist li + li {
  margin-top: var(--ds-space-2);
}

.text-h1 > h2 {
  @include text-h1;
}

.row > *,
.ds-row > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--ds-space-3);
}

.ds-row .sectionbody > *,
.row .sectionbody > * {
  flex: 1;
}

/* persist row direction max-width: 1200px */
.ds-row.persistent > *,
.row.persistent > * {
  flex-direction: row;
}

.row-item,
.row hr,
.row .sectionbody > hr {
  flex: 0 0 100%;
}

.row .sectionbody > hr {
  margin: 0;
}

.ds-grid .sectionbody > *,
.ds-grid > .content,
.grid .sectionbody > *,
.grid > .content {
  display: grid;
}

.ds-column > p,
.column > p {
  display: flex;
  flex-direction: column;
  justify-items: space-around;
}

@media screen and (min-width: 1200px) {
  .ds-row > p,
  .ds-row .sectionbody,
  .row > p,
  .row .sectionbody {
    flex-direction: row;
  }
}

.doc .header-noline h2:not(.discrete) {
  border-bottom: none;
  padding: 0;
}

.ds-row.explore .sectionbody .sect2 > *:not(.landing-card-icon),
.row.explore .sectionbody .sect2 > *:not(.landing-card-icon) {
  margin-top: var(--ds-space-2);
}

/* Landing card icon */
.doc .landing-card-icon {
  max-width: fit-content;
  height: fit-content;
  color: var(--ds-neutral-900);
  font-size: calc(20 / var(--rem-base) * 1rem);
  padding: calc(10 / var(--rem-base) * 1rem);
  border: 1px solid var(--ds-neutral-outlined-border);
  border-radius: calc(6 / var(--rem-base) * 1rem);
  grid-row-start: 1;
}

.doc .landing-card-icon > * {
  line-height: 1;
}

html[data-theme="dark"] .doc .landing-card-icon {
  color: var(--heading-font-color);
}

/* Links */
.doc .landing-a a {
  padding-right: var(--ds-space-2);
}

.landing-a a::after {
  font-family: "Material Icons Outlined", sans-serif;
  content: '\e5c8';
  font-size: calc(20 / var(--rem-base) * 1rem);
  position: absolute;
  margin-left: var(--ds-space-h);
  margin-top: calc(4 / var(--rem-base) * -1 * 1rem);
}

.landing-support a.support::before,
.landing-support a.community::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: '\ef73';
  font-size: calc(16 / var(--rem-base) * 1rem);
  margin-right: var(--ds-space-1);
  position: absolute;
  left: 0;
}

.landing-support a.community::before {
  content: '\e7ef';
}

.landing-support p {
  position: relative;
}

.landing-support a.community,
.landing-support a.support {
  margin-left: var(--ds-space-3);
}

/*
 *
 * Admonitions component
 *
 */
.doc .admonitionblock {
  border: 1px solid var(--ds-success-outlined-border);
  border-radius: calc(6 / var(--rem-base) * 1rem);
  overflow-x: hidden;
}

.doc .admonitionblock > table > tbody > tr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.doc .admonitionblock .icon {
  display: flex;
  gap: var(--ds-space-1);
  align-items: center;
  align-self: stretch;
  position: unset;
  width: 100%;
  transform: none;
  text-transform: none;
  color: var(--ds-text-primary);
  font-size: calc(16 / var(--rem-base) * 1rem);
  line-height: 1.5;
  height: var(--ds-space-6);
  padding: var(--ds-space-1h) var(--ds-space-2);
  border-radius: 0;
}

.doc .admonitionblock td.content > *,
.doc .admonitionblock td.content p {
  margin-top: var(--ds-space-2);
}

.doc .admonitionblock td.content .ulist p {
  margin-top: 0;
}

.doc .admonitionblock td.content > .paragraph:first-child p:first-child,
.doc .admonitionblock td.content > .title {
  margin: 0;
}

.doc .admonitionblock .title {
  font-style: normal;
}

.doc .admonitionblock td.content {
  background: none;
}

.doc .admonitionblock .icon::before {
  font-family: "Material Icons Outlined", sans-serif;
  font-size: calc(20 / var(--rem-base) * 1rem);
  font-weight: normal;
}

/* TIP, NOTE */
.doc .admonitionblock.tip .icon,
.doc .admonitionblock.note .icon {
  background: var(--ds-success-soft-bg);
  color: var(--ds-text-primary);
}

.doc .admonitionblock.note .icon::before {
  color: var(--ds-success-500);
  content: '\e88e';
}

.doc .admonitionblock.tip .icon::before {
  color: var(--ds-success-500);
  content: '\e0f0';
}

/* CAUTION */
.doc .admonitionblock.caution .icon {
  background: var(--ds-warning-soft-bg);
  color: var(--ds-text-primary);
}

.doc .admonitionblock.caution {
  border: 1px solid var(--ds-warning-outlined-border);
}

.doc .admonitionblock.caution .icon::before {
  color: var(--ds-warning-500);
  content: '\e88e';
}

/* WARNING, IMPORTANT */
.doc .admonitionblock.warning .icon,
.doc .admonitionblock.important .icon {
  background: var(--ds-failure-soft-bg);
  color: var(--ds-text-primary);
}

.doc .admonitionblock.warning,
.doc .admonitionblock.important {
  border: 1px solid var(--ds-failure-outlined-border);
}

.doc .admonitionblock.warning .icon::before {
  color: var(--ds-failure-500);
  content: '\f083';
}

.doc .admonitionblock.important .icon::before {
  color: var(--ds-failure-500);
  content: '\e160';
}

html[data-theme="dark"] .doc .admonitionblock .icon::before {
  color: var(--ds-primary-text);
}

/* border */
