/*
 *
 *  Landing template
 *
 */

/* Extend .doc max-width */
@media screen and (min-width: 1024px) {
  html[data-layout="landing"] {
    .doc {
      max-width: calc(1280 / var(--rem-base) * 1rem);
    }
  }
}

/* Hide sidebar, a.anchor */
html[data-layout="landing"] .toc.sidebar,
html[data-layout="landing"] a.anchor {
  display: none;
}

html[data-layout="landing"] .doc > h1.page:first-child {
  font-size: calc(34 / var(--rem-base) * 1rem);
  margin-top: var(--ds-space-3);
  margin-top: var(--ds-space-2);
}

html[data-layout="landing"] #preamble {
  max-width: 650px;
}

.ds-row > .sectionbody,
.ds-row > .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--ds-space-3);
}

.ds-row .sectionbody > * {
  flex: 1;
}

.ds-grid .sectionbody > *,
.ds-grid > .content {
  display: grid;
}

@media screen and (min-width: 1200px) {
  .ds-row .sectionbody {
    flex-direction: row;
  }
}

.doc .header-noline h2:not(.discrete) {
  border-bottom: none;
  padding-bottom: var(--ds-space-3);
}

.ds-row.explore .sectionbody .sect2 > *:not(.landing-card-icon) {
  margin-top: var(--ds-space-2);
}

/* Landing card icon */
.material-icons.landing-card-icon {
  max-width: fit-content;
  font-size: calc(20 / var(--rem-base) * 1rem);
  padding: calc(10 / var(--rem-base) * 1rem);
  border: 1px solid var(--ds-neutral-outlined-border);
  border-radius: calc(6 / var(--rem-base) * 1rem);
  grid-row-start: 1;
  margin-top: 0;
}

/* Links */
.doc .landing-a a {
  padding-right: var(--ds-space-2);
}

.landing-a a::after {
  font-family: "Material Icons Outlined", sans-serif;
  content: '\e5c8';
  font-size: calc(20 / var(--rem-base) * 1rem);
  position: absolute;
  margin-left: var(--ds-space-h);
  margin-top: calc(4 / var(--rem-base) * -1 * 1rem);
}

.landing-support a.support::before,
.landing-support a.community::before {
  font-family: "Material Icons Outlined", sans-serif;
  content: '\ef73';
  font-size: calc(16 / var(--rem-base) * 1rem);
  margin-right: var(--ds-space-1);
  position: absolute;
  left: 0;
}

.landing-support a.community::before {
  content: '\e7ef';
}

.landing-support p {
  position: relative;
}

.landing-support a.community,
.landing-support a.support {
  margin-left: var(--ds-space-3);
}
