.ds-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--ds-space-3);
}

.ds-list-item {
  color: var(--ds-text-primary);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--ds-space-1) 0;

  &:hover {
    text-decoration: none;
  }
}

.ds-list-item-text {
  display: flex;
  flex-direction: column;
  gap: var(--ds-space-1);
}

.ds-list-item-text--title {
  @include text-h4;
}

.ds-list-item-text--description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
