/*
 *
 *  Landing template
 *
 */

/* Extend .doc max-width */
[data-template="landing"] .doc {
  --doc-max-width--desktop: calc(1280 / var(--rem-base) * 1rem);
}

/* Hide sidebar, a.anchor */
[data-template="landing"] .toc.sidebar,
[data-template="landing"] a.anchor {
  display: none;
}

[data-template="landing"] .doc > h1.page:first-child {
  font-size: calc(34 / var(--rem-base) * 1rem);
  margin-top: var(--ds-space-3);
  margin-top: var(--ds-space-2);
}

[data-template="landing"] #preamble {
  max-width: 650px;
}

.ds-row .sectionbody {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  gap: var(--ds-space-3);
}

.ds-row .sectionbody > * {
  display: grid;
}

@media screen and (min-width: 1280px) {
  .ds-row .sectionbody > * {
    flex: 1;
  }
}

.ds-row.explore .sectionbody .sect2 > * {
  margin-top: var(--ds-space-2);
}

.doc .header-noline h2:not(.discrete) {
  border-bottom: none;
  padding-bottom: var(--ds-space-1);
}

.material-icons.landing-card-icon {
  max-width: fit-content;
  font-size: calc(20 / var(--rem-base) * 1rem);
  padding: calc(10 / var(--rem-base) * 1rem);
  border: 1px solid var(--ds-neutral-outlined-border);
  border-radius: calc(6 / var(--rem-base) * 1rem);
  grid-row-start: 1;
}

/* Links */
.doc .landing-a a {
  padding-right: var(--ds-space-2);
}

.doc .landing-a a:hover {
  text-decoration: none;
}

.landing-a a::after {
  font-family: "Material Icons Outlined", sans-serif;
  content: '\e5c8';
  font-size: calc(20 / var(--rem-base) * 1rem);
  position: absolute;
  margin-left: var(--ds-space-h);
  margin-top: calc(4 / var(--rem-base) * -1rem);
}
