/* stylelint-disable indentation */
/* stylelint-disable selector-descendant-combinator-no-non-space */
/* stylelint-disable declaration-colon-newline-after */
html[data-theme="dark"] #datastax-docs-logo-main {
  background: url("../img/datastax-docs-logo-light-bg.svg") no-repeat center /
    contain;
}

html[data-theme="light"] #datastax-docs-logo-main {
  background: url("../img/datastax-docs-logo-dark-bg.svg") no-repeat center /
    contain;
}

html[data-theme="dark"] #datastax-docs-logo-text {
  background: url("../img/datastax-docs-logo-text-dark.svg") no-repeat center /
    contain;
}

html[data-theme="light"] #datastax-docs-logo-text {
  background: url("../img/datastax-docs-logo-text-light.svg") no-repeat center /
    contain;
}

#datastax-docs-logo-main {
  width: calc(268 / var(--rem-base) * 1rem);
  height: calc(37.46 / var(--rem-base) * 1rem);
}

#datastax-docs-logo-text {
  width: calc(172 / var(--rem-base) * 1rem);
  height: calc(16 / var(--rem-base) * 1rem);
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme="light"]):not([data-theme="dark"])
    #datastax-docs-logo-main {
    background: url("../img/datastax-docs-logo-light-bg.svg") no-repeat center /
      contain;
  }

  :root:not([data-theme="light"]):not([data-theme="dark"])
    #datastax-docs-logo-text {
    background: url("../img/datastax-docs-logo-text-light.svg") no-repeat center /
      contain;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]):not([data-theme="dark"])
    #datastax-docs-logo-main {
    background: url("../img/datastax-docs-logo-light-bg.svg") no-repeat center /
      contain;
  }

  :root:not([data-theme="light"]):not([data-theme="dark"])
    #datastax-docs-logo-text {
    background: url("../img/datastax-docs-logo-text-dark.svg") no-repeat center /
      contain;
  }
}

@media screen and (max-width: 768.5px) {
  #datastax-docs-logo-main {
    width: calc(151.57 / var(--rem-base) * 1rem);
    height: calc(37.46 / var(--rem-base) * 1rem);
  }

  html[data-theme="dark"] #datastax-docs-logo-main {
    background: url("../img/datastax-docs-logo-small-light-bg.svg") no-repeat
      center / contain;
  }

  html[data-theme="light"] #datastax-docs-logo-main {
    background: url("../img/datastax-docs-logo-small-dark-bg.svg") no-repeat
      center / contain;
  }
}

@media screen and (max-width: 768.5px) and (prefers-color-scheme: light) {
  :root:not([data-theme="light"]):not([data-theme="dark"])
    #datastax-docs-logo-main {
    background: url("../img/datastax-docs-logo-small-dark-bg.svg") no-repeat
      center / contain;
  }
}

@media screen and (max-width: 768.5px) and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]):not([data-theme="dark"])
    #datastax-docs-logo-main {
    background: url("../img/datastax-docs-logo-small-light-bg.svg") no-repeat
      center / contain;
  }
}
