@mixin text-display {
  font-size: calc(34 / var(--rem-base) * 1rem);
  font-weight: 500;
  font-family: "Sora", sans-serif;
}

@mixin text-h1 {
  font-size: calc(24 / var(--rem-base) * 1rem);
  font-weight: 550;
  font-family: "Sora", sans-serif;
}

@mixin text-h2 {
  font-size: calc(20 / var(--rem-base) * 1rem);
  font-weight: 550;
  font-family: "Sora", sans-serif;
}

@mixin text-h3 {
  font-size: calc(16 / var(--rem-base) * 1rem);
  font-weight: 600;
}

@mixin text-h4 {
  font-size: calc(15 / var(--rem-base) * 1rem);
  font-weight: 600;
}

@mixin text-h5 {
  font-size: calc(15 / var(--rem-base) * 1rem);
  font-weight: 600;
}

@mixin text-body {
  font-size: calc(16 / var(--rem-base) * 1rem);
  font-weight: 400;
}

@mixin text-body-small {
  font-size: calc(14.5 / var(--rem-base) * 1rem);
  font-weight: 400;
}

@mixin text-caption {
  font-size: calc(14.5 / var(--rem-base) * 1rem);
  font-weight: 500;
}

@mixin text-label {
  font-size: calc(13 / var(--rem-base) * 1rem);
  font-weight: 600;
}

@mixin text-overline {
  font-size: calc(12 / var(--rem-base) * 1rem);
  font-weight: 650;
  letter-spacing: calc(1.2 / var(--rem-base) * 1rem);
  text-transform: uppercase;
}

@mixin text-button {
  font-size: calc(14.5 / var(--rem-base) * 1rem);
  font-weight: 600;
}

@mixin text-tab {
  font-size: calc(16 / var(--rem-base) * 1rem);
  font-weight: 400;
}

@mixin text-mono {
  font-size: calc(15.5 / var(--rem-base) * 1rem);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}

@mixin text-mono-small {
  font-size: calc(14 / var(--rem-base) * 1rem);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}
