/* stylelint-disable color-hex-length */
:root {
  --ds-common-black: #090909;
  --ds-common-white: #ffffff;
  --ds-cyan-0: #d8f1ff;
  --ds-cyan-100: #bae6ff;
  --ds-cyan-200: #99d9ff;
  --ds-cyan-300: #77ccff;
  --ds-cyan-400: #33b1ff;
  --ds-cyan-500: #1a92e1;
  --ds-cyan-600: #0072c3;
  --ds-cyan-700: #005698;
  --ds-cyan-800: #003a6d;
  --ds-cyan-900: #07243d;
  --ds-failure-0: #ffebee;
  --ds-failure-100: #fbcfd4;
  --ds-failure-200: #f6b2ba;
  --ds-failure-300: #ec7985;
  --ds-failure-400: #e34853;
  --ds-failure-500: #d91620;
  --ds-failure-600: #b00f16;
  --ds-failure-700: #86070b;
  --ds-failure-800: #5d0406;
  --ds-failure-900: #330001;
  --ds-magenta-0: #ffdeed;
  --ds-magenta-100: #ffcfe5;
  --ds-magenta-200: #ffc0dc;
  --ds-magenta-300: #ffaacf;
  --ds-magenta-400: #ff7eb6;
  --ds-magenta-500: #e85293;
  --ds-magenta-600: #d02670;
  --ds-magenta-700: #a21854;
  --ds-magenta-800: #740937;
  --ds-magenta-900: #480b26;
  --ds-neutral-0: #f7f7f7;
  --ds-neutral-100: #e3e4e5;
  --ds-neutral-200: #ced0d2;
  --ds-neutral-300: #a6aaae;
  --ds-neutral-400: #898d91;
  --ds-neutral-500: #6b6f73;
  --ds-neutral-600: #5a5d60;
  --ds-neutral-700: #494a4d;
  --ds-neutral-800: #232324;
  --ds-neutral-900: #090909;
  --ds-orange-0: #ffe7d7;
  --ds-orange-100: #ffd9be;
  --ds-orange-200: #ffc49a;
  --ds-orange-300: #ffae75;
  --ds-orange-400: #ff832b;
  --ds-orange-500: #dd6916;
  --ds-orange-600: #ba4e00;
  --ds-orange-700: #8c3c00;
  --ds-orange-800: #5e2900;
  --ds-orange-900: #391800;
  --ds-primary-0: #f3e5f5;
  --ds-primary-100: #e5c6ea;
  --ds-primary-200: #d7a7df;
  --ds-primary-300: #ba68c8;
  --ds-primary-400: #9946b9;
  --ds-primary-500: #7724aa;
  --ds-primary-600: #611c9b;
  --ds-primary-700: #4a148c;
  --ds-primary-800: #350a60;
  --ds-primary-900: #200033;
  --ds-success-0: #ecffeb;
  --ds-success-100: #ace0b0;
  --ds-success-200: #8cd092;
  --ds-success-300: #6bc074;
  --ds-success-400: #42a056;
  --ds-success-500: #198038;
  --ds-success-600: #116d36;
  --ds-success-700: #095933;
  --ds-success-800: #05462c;
  --ds-success-900: #003325;
  --ds-teal-0: #d9f9f9;
  --ds-teal-100: #bcf5f5;
  --ds-teal-200: #9ef0f0;
  --ds-teal-300: #53d7d5;
  --ds-teal-400: #08bdba;
  --ds-teal-500: #049d9a;
  --ds-teal-600: #007d79;
  --ds-teal-700: #005f5f;
  --ds-teal-800: #004144;
  --ds-teal-900: #0d2b2c;
  --ds-warning-0: #ffefe0;
  --ds-warning-100: #fadbb2;
  --ds-warning-200: #f5c783;
  --ds-warning-300: #ea9f26;
  --ds-warning-400: #cc7b1d;
  --ds-warning-500: #ad5713;
  --ds-warning-600: #8f4a0a;
  --ds-warning-700: #703c00;
  --ds-warning-800: #522b00;
  --ds-warning-900: #331900;
}

:root,
html[data-theme="light"] {
  --ds-divider: var(--ds-neutral-200);
  --ds-focus-visible: var(--ds-neutral-900);
  --ds-background-body: var(--ds-common-white);
  --ds-background-level1: var(--ds-neutral-100);
  --ds-background-level2: var(--ds-neutral-200);
  --ds-background-level3: var(--ds-neutral-300);
  --ds-background-surface: var(--ds-common-white);
  --ds-background-tooltip: var(--ds-neutral-900);
  --ds-cyan-main: var(--ds-cyan-600);
  --ds-failure-main: var(--ds-failure-500);
  --ds-failure-outlined-active-bg: var(--ds-failure-100);
  --ds-failure-outlined-border: var(--ds-failure-300);
  --ds-failure-outlined-color: var(--ds-failure-500);
  --ds-failure-outlined-disabled-border: var(--ds-neutral-100);
  --ds-failure-outlined-disabled-color: var(--ds-neutral-300);
  --ds-failure-outlined-hover-bg: var(--ds-failure-0);
  --ds-failure-outlined-hover-border: var(--ds-failure-500);
  --ds-failure-plain-active-bg: var(--ds-failure-200);
  --ds-failure-plain-color: var(--ds-failure-600);
  --ds-failure-plain-disabled-color: var(--ds-failure-200);
  --ds-failure-plain-hover-bg: var(--ds-failure-100);
  --ds-failure-soft-active-bg: var(--ds-failure-300);
  --ds-failure-soft-bg: var(--ds-failure-0);
  --ds-failure-soft-color: var(--ds-failure-600);
  --ds-failure-soft-disabled-bg: var(--ds-failure-100);
  --ds-failure-soft-disabled-color: var(--ds-failure-300);
  --ds-failure-soft-hover-bg: var(--ds-failure-200);
  --ds-failure-solid-active-bg: var(--ds-failure-700);
  --ds-failure-solid-bg: var(--ds-failure-500);
  --ds-failure-solid-color: var(--ds-common-white);
  --ds-failure-solid-disabled-bg: var(--ds-neutral-100);
  --ds-failure-solid-disabled-color: var(--ds-neutral-300);
  --ds-failure-solid-hover-bg: var(--ds-failure-600);
  --ds-magenta-main: var(--ds-magenta-600);
  --ds-neutral-main: var(--ds-neutral-900);
  --ds-neutral-outlined-active-bg: var(--ds-neutral-200);
  --ds-neutral-outlined-border: var(--ds-neutral-200);
  --ds-neutral-outlined-color: var(--ds-neutral-900);
  --ds-neutral-outlined-disabled-border: var(--ds-neutral-100);
  --ds-neutral-outlined-disabled-color: var(--ds-neutral-300);
  --ds-neutral-outlined-hover-bg: var(--ds-neutral-0);
  --ds-neutral-outlined-hover-border: var(--ds-neutral-900);
  --ds-neutral-plain-active-bg: var(--ds-neutral-200);
  --ds-neutral-plain-color: var(--ds-neutral-900);
  --ds-neutral-plain-disabled-color: var(--ds-neutral-200);
  --ds-neutral-plain-hover-bg: var(--ds-neutral-100);
  --ds-neutral-soft-active-bg: var(--ds-neutral-300);
  --ds-neutral-soft-bg: var(--ds-neutral-0);
  --ds-neutral-soft-color: var(--ds-neutral-900);
  --ds-neutral-soft-disabled-bg: var(--ds-neutral-100);
  --ds-neutral-soft-disabled-color: var(--ds-neutral-300);
  --ds-neutral-soft-hover-bg: var(--ds-neutral-200);
  --ds-neutral-solid-active-bg: var(--ds-neutral-600);
  --ds-neutral-solid-bg: var(--ds-neutral-900);
  --ds-neutral-solid-color: var(--ds-common-white);
  --ds-neutral-solid-disabled-bg: var(--ds-neutral-100);
  --ds-neutral-solid-disabled-color: var(--ds-neutral-300);
  --ds-neutral-solid-hover-bg: var(--ds-neutral-800);
  --ds-orange-main: var(--ds-orange-600);
  --ds-primary-main: var(--ds-primary-500);
  --ds-primary-outlined-active-bg: var(--ds-primary-100);
  --ds-primary-outlined-border: var(--ds-primary-300);
  --ds-primary-outlined-color: var(--ds-primary-500);
  --ds-primary-outlined-disabled-border: var(--ds-neutral-100);
  --ds-primary-outlined-disabled-color: var(--ds-neutral-300);
  --ds-primary-outlined-hover-bg: var(--ds-primary-0);
  --ds-primary-outlined-hover-border: var(--ds-primary-500);
  --ds-primary-plain-active-bg: var(--ds-primary-200);
  --ds-primary-plain-color: var(--ds-primary-600);
  --ds-primary-plain-disabled-color: var(--ds-primary-200);
  --ds-primary-plain-hover-bg: var(--ds-primary-100);
  --ds-primary-soft-active-bg: var(--ds-primary-300);
  --ds-primary-soft-bg: var(--ds-primary-0);
  --ds-primary-soft-color: var(--ds-primary-600);
  --ds-primary-soft-disabled-bg: var(--ds-primary-100);
  --ds-primary-soft-disabled-color: var(--ds-primary-300);
  --ds-primary-soft-hover-bg: var(--ds-primary-200);
  --ds-primary-solid-active-bg: var(--ds-primary-700);
  --ds-primary-solid-bg: var(--ds-primary-500);
  --ds-primary-solid-color: var(--ds-common-white);
  --ds-primary-solid-disabled-bg: var(--ds-neutral-100);
  --ds-primary-solid-disabled-color: var(--ds-neutral-300);
  --ds-primary-solid-hover-bg: var(--ds-primary-600);
  --ds-success-main: var(--ds-success-500);
  --ds-success-outlined-active-bg: var(--ds-success-100);
  --ds-success-outlined-border: var(--ds-success-300);
  --ds-success-outlined-color: var(--ds-success-500);
  --ds-success-outlined-disabled-border: var(--ds-neutral-100);
  --ds-success-outlined-disabled-color: var(--ds-neutral-300);
  --ds-success-outlined-hover-bg: var(--ds-success-0);
  --ds-success-outlined-hover-border: var(--ds-success-500);
  --ds-success-plain-active-bg: var(--ds-success-200);
  --ds-success-plain-color: var(--ds-success-600);
  --ds-success-plain-disabled-color: var(--ds-success-200);
  --ds-success-plain-hover-bg: var(--ds-success-100);
  --ds-success-soft-active-bg: var(--ds-success-300);
  --ds-success-soft-bg: var(--ds-success-0);
  --ds-success-soft-color: var(--ds-success-600);
  --ds-success-soft-disabled-bg: var(--ds-success-100);
  --ds-success-soft-disabled-color: var(--ds-success-300);
  --ds-success-soft-hover-bg: var(--ds-success-200);
  --ds-success-solid-active-bg: var(--ds-success-700);
  --ds-success-solid-bg: var(--ds-success-500);
  --ds-success-solid-color: var(--ds-common-white);
  --ds-success-solid-disabled-bg: var(--ds-neutral-100);
  --ds-success-solid-disabled-color: var(--ds-neutral-300);
  --ds-success-solid-hover-bg: var(--ds-success-600);
  --ds-teal-main: var(--ds-teal-600);
  --ds-text-disabled: var(--ds-neutral-200);
  --ds-text-inverse: var(--ds-common-white);
  --ds-text-placeholder: var(--ds-neutral-300);
  --ds-text-primary: var(--ds-neutral-900);
  --ds-text-secondary: var(--ds-neutral-700);
  --ds-text-tertiary: var(--ds-neutral-500);
  --ds-warning-main: var(--ds-warning-500);
  --ds-warning-outlined-active-bg: var(--ds-warning-100);
  --ds-warning-outlined-border: var(--ds-warning-300);
  --ds-warning-outlined-color: var(--ds-warning-500);
  --ds-warning-outlined-disabled-border: var(--ds-neutral-100);
  --ds-warning-outlined-disabled-color: var(--ds-neutral-300);
  --ds-warning-outlined-hover-bg: var(--ds-warning-0);
  --ds-warning-outlined-hover-border: var(--ds-warning-500);
  --ds-warning-plain-active-bg: var(--ds-warning-200);
  --ds-warning-plain-color: var(--ds-warning-600);
  --ds-warning-plain-disabled-color: var(--ds-warning-200);
  --ds-warning-plain-hover-bg: var(--ds-warning-100);
  --ds-warning-soft-active-bg: var(--ds-warning-300);
  --ds-warning-soft-bg: var(--ds-warning-0);
  --ds-warning-soft-color: var(--ds-warning-600);
  --ds-warning-soft-disabled-bg: var(--ds-warning-100);
  --ds-warning-soft-disabled-color: var(--ds-warning-300);
  --ds-warning-soft-hover-bg: var(--ds-warning-200);
  --ds-warning-solid-active-bg: var(--ds-warning-700);
  --ds-warning-solid-bg: var(--ds-warning-500);
  --ds-warning-solid-color: var(--ds-common-white);
  --ds-warning-solid-disabled-bg: var(--ds-neutral-100);
  --ds-warning-solid-disabled-color: var(--ds-neutral-300);
  --ds-warning-solid-hover-bg: var(--ds-warning-600);
}

html[data-theme="dark"] {
  --ds-divider: var(--ds-neutral-700);
  --ds-focus-visible: var(--ds-common-white);
  --ds-background-body: var(--ds-neutral-900);
  --ds-background-level1: var(--ds-neutral-800);
  --ds-background-level2: var(--ds-neutral-700);
  --ds-background-level3: var(--ds-neutral-600);
  --ds-background-surface: var(--ds-neutral-900);
  --ds-background-tooltip: var(--ds-neutral-0);
  --ds-cyan-main: var(--ds-cyan-400);
  --ds-failure-main: var(--ds-failure-400);
  --ds-failure-outlined-active-bg: var(--ds-failure-500);
  --ds-failure-outlined-border: var(--ds-failure-600);
  --ds-failure-outlined-color: var(--ds-common-white);
  --ds-failure-outlined-disabled-border: var(--ds-neutral-800);
  --ds-failure-outlined-disabled-color: var(--ds-neutral-600);
  --ds-failure-outlined-hover-bg: var(--ds-failure-900);
  --ds-failure-outlined-hover-border: var(--ds-failure-500);
  --ds-failure-plain-active-bg: var(--ds-failure-700);
  --ds-failure-plain-color: var(--ds-failure-300);
  --ds-failure-plain-disabled-color: var(--ds-failure-800);
  --ds-failure-plain-hover-bg: var(--ds-failure-800);
  --ds-failure-soft-active-bg: var(--ds-failure-600);
  --ds-failure-soft-bg: var(--ds-failure-900);
  --ds-failure-soft-color: var(--ds-failure-200);
  --ds-failure-soft-disabled-bg: var(--ds-failure-600);
  --ds-failure-soft-disabled-color: var(--ds-failure-800);
  --ds-failure-soft-hover-bg: var(--ds-failure-700);
  --ds-failure-solid-active-bg: var(--ds-failure-800);
  --ds-failure-solid-bg: var(--ds-failure-600);
  --ds-failure-solid-color: var(--ds-common-white);
  --ds-failure-solid-disabled-bg: var(--ds-neutral-600);
  --ds-failure-solid-disabled-color: var(--ds-neutral-800);
  --ds-failure-solid-hover-bg: var(--ds-failure-700);
  --ds-magenta-main: var(--ds-magenta-400);
  --ds-neutral-main: var(--ds-common-white);
  --ds-neutral-outlined-active-bg: var(--ds-neutral-500);
  --ds-neutral-outlined-border: var(--ds-neutral-600);
  --ds-neutral-outlined-color: var(--ds-common-white);
  --ds-neutral-outlined-disabled-border: var(--ds-neutral-800);
  --ds-neutral-outlined-disabled-color: var(--ds-neutral-600);
  --ds-neutral-outlined-hover-bg: var(--ds-neutral-800);
  --ds-neutral-outlined-hover-border: var(--ds-neutral-500);
  --ds-neutral-plain-active-bg: var(--ds-neutral-700);
  --ds-neutral-plain-color: var(--ds-common-white);
  --ds-neutral-plain-disabled-color: var(--ds-neutral-800);
  --ds-neutral-plain-hover-bg: var(--ds-neutral-800);
  --ds-neutral-soft-active-bg: var(--ds-neutral-600);
  --ds-neutral-soft-bg: var(--ds-neutral-800);
  --ds-neutral-soft-color: var(--ds-common-white);
  --ds-neutral-soft-disabled-bg: var(--ds-neutral-600);
  --ds-neutral-soft-disabled-color: var(--ds-neutral-800);
  --ds-neutral-soft-hover-bg: var(--ds-neutral-700);
  --ds-neutral-solid-active-bg: var(--ds-neutral-100);
  --ds-neutral-solid-bg: var(--ds-common-white);
  --ds-neutral-solid-color: var(--ds-neutral-900);
  --ds-neutral-solid-disabled-bg: var(--ds-neutral-600);
  --ds-neutral-solid-disabled-color: var(--ds-neutral-800);
  --ds-neutral-solid-hover-bg: var(--ds-neutral-0);
  --ds-orange-main: var(--ds-orange-400);
  --ds-primary-main: var(--ds-primary-400);
  --ds-primary-outlined-active-bg: var(--ds-primary-500);
  --ds-primary-outlined-border: var(--ds-primary-600);
  --ds-primary-outlined-color: var(--ds-common-white);
  --ds-primary-outlined-disabled-border: var(--ds-neutral-800);
  --ds-primary-outlined-disabled-color: var(--ds-neutral-600);
  --ds-primary-outlined-hover-bg: var(--ds-primary-900);
  --ds-primary-outlined-hover-border: var(--ds-primary-500);
  --ds-primary-plain-active-bg: var(--ds-primary-700);
  --ds-primary-plain-color: var(--ds-primary-300);
  --ds-primary-plain-disabled-color: var(--ds-primary-800);
  --ds-primary-plain-hover-bg: var(--ds-primary-800);
  --ds-primary-soft-active-bg: var(--ds-primary-600);
  --ds-primary-soft-bg: var(--ds-primary-900);
  --ds-primary-soft-color: var(--ds-primary-200);
  --ds-primary-soft-disabled-bg: var(--ds-primary-600);
  --ds-primary-soft-disabled-color: var(--ds-primary-800);
  --ds-primary-soft-hover-bg: var(--ds-primary-700);
  --ds-primary-solid-active-bg: var(--ds-primary-800);
  --ds-primary-solid-bg: var(--ds-primary-600);
  --ds-primary-solid-color: var(--ds-common-white);
  --ds-primary-solid-disabled-bg: var(--ds-neutral-600);
  --ds-primary-solid-disabled-color: var(--ds-neutral-800);
  --ds-primary-solid-hover-bg: var(--ds-primary-700);
  --ds-success-main: var(--ds-success-400);
  --ds-success-outlined-active-bg: var(--ds-success-500);
  --ds-success-outlined-border: var(--ds-success-600);
  --ds-success-outlined-color: var(--ds-common-white);
  --ds-success-outlined-disabled-border: var(--ds-neutral-800);
  --ds-success-outlined-disabled-color: var(--ds-neutral-600);
  --ds-success-outlined-hover-bg: var(--ds-success-900);
  --ds-success-outlined-hover-border: var(--ds-success-500);
  --ds-success-plain-active-bg: var(--ds-success-700);
  --ds-success-plain-color: var(--ds-success-300);
  --ds-success-plain-disabled-color: var(--ds-success-800);
  --ds-success-plain-hover-bg: var(--ds-success-800);
  --ds-success-soft-active-bg: var(--ds-success-600);
  --ds-success-soft-bg: var(--ds-success-900);
  --ds-success-soft-color: var(--ds-success-200);
  --ds-success-soft-disabled-bg: var(--ds-success-600);
  --ds-success-soft-disabled-color: var(--ds-success-800);
  --ds-success-soft-hover-bg: var(--ds-success-700);
  --ds-success-solid-active-bg: var(--ds-success-800);
  --ds-success-solid-bg: var(--ds-success-600);
  --ds-success-solid-color: var(--ds-common-white);
  --ds-success-solid-disabled-bg: var(--ds-neutral-600);
  --ds-success-solid-disabled-color: var(--ds-neutral-800);
  --ds-success-solid-hover-bg: var(--ds-success-700);
  --ds-teal-main: var(--ds-teal-400);
  --ds-text-disabled: var(--ds-neutral-800);
  --ds-text-inverse: var(--ds-neutral-900);
  --ds-text-placeholder: var(--ds-neutral-700);
  --ds-text-primary: var(--ds-common-white);
  --ds-text-secondary: var(--ds-neutral-300);
  --ds-text-tertiary: var(--ds-neutral-500);
  --ds-warning-main: var(--ds-warning-400);
  --ds-warning-outlined-active-bg: var(--ds-warning-500);
  --ds-warning-outlined-border: var(--ds-warning-600);
  --ds-warning-outlined-color: var(--ds-common-white);
  --ds-warning-outlined-disabled-border: var(--ds-neutral-800);
  --ds-warning-outlined-disabled-color: var(--ds-neutral-600);
  --ds-warning-outlined-hover-bg: var(--ds-warning-900);
  --ds-warning-outlined-hover-border: var(--ds-warning-500);
  --ds-warning-plain-active-bg: var(--ds-warning-700);
  --ds-warning-plain-color: var(--ds-warning-300);
  --ds-warning-plain-disabled-color: var(--ds-warning-800);
  --ds-warning-plain-hover-bg: var(--ds-warning-800);
  --ds-warning-soft-active-bg: var(--ds-warning-600);
  --ds-warning-soft-bg: var(--ds-warning-900);
  --ds-warning-soft-color: var(--ds-warning-200);
  --ds-warning-soft-disabled-bg: var(--ds-warning-600);
  --ds-warning-soft-disabled-color: var(--ds-warning-800);
  --ds-warning-soft-hover-bg: var(--ds-warning-700);
  --ds-warning-solid-active-bg: var(--ds-warning-800);
  --ds-warning-solid-bg: var(--ds-warning-600);
  --ds-warning-solid-color: var(--ds-common-white);
  --ds-warning-solid-disabled-bg: var(--ds-neutral-600);
  --ds-warning-solid-disabled-color: var(--ds-neutral-800);
  --ds-warning-solid-hover-bg: var(--ds-warning-700);
}
