html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: var(--navbar-height);
}

.navbar {
  background: var(--ds-background-body);
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-navbar);
  display: flex;
  align-items: center;
  padding: 0 var(--site-padding);
  gap: 24px;
}

.navbar .search,
.navbar #topbar-nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar #topbar-nav {
  margin-left: auto;
}

.navbar a {
  text-decoration: none;
}

.navbar-brand {
  display: flex;
  width: calc(var(--nav-width) - var(--site-padding));
}

#datastax-docs-logo-main {
  width: 287px;
  height: 40px;
}

html[data-theme="dark"] #datastax-docs-logo-main {
  background: url('../img/datastax-docs-logo-light-bg.svg') no-repeat center / contain;
}

html[data-theme="light"] #datastax-docs-logo-main {
  background: url('../img/datastax-docs-logo-dark-bg.svg') no-repeat center / contain;
}

@media screen and (min-width: 769px) {
  #search-input {
    width: 200px;
  }
}

@media screen and (max-width: 1023.5px) {
  #search-button {
    display: none;
  }

  #get-support {
    width: 40px;
    padding: 0;
    font-size: 0;
  }

  #get-support .ds-button--leading-icon {
    margin: 0;
  }
}
