html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: var(--navbar-height);
}

.navbar {
  background: var(--navbar-background);
  color: var(--navbar-font-color);
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-navbar);
}

.navbar a {
  text-decoration: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--site-padding);
}

.search {
  display: flex;
  gap: 8px;
  margin-right: auto;
}

.navbar-end {
  display: flex;
  gap: 8px;
  align-items: center;
  flex: auto;
}

.navbar-menu {
  display: flex;
  flex: auto;
  padding-right: var(--site-padding);
}

.navbar-burger::before {
  font-family: "Material Icons Outlined", sans-serif;
  font-weight: 400;
  font-size: 20px;
  content: "\e5d2";
}

.navbar-burger.is-active::before {
  content: "\e5cd";
}

@media screen and (min-width: 769px) {
  #search-input {
    width: 200px;
  }
}

@media screen and (max-width: 768.5px) {
  #search-button {
    display: none;
  }
}

@media screen and (max-width: 1023.5px) {
  #get-support {
    width: 40px;
    padding: 0;
    font-size: 0;
  }

  #get-support .ds-button--leading-icon {
    margin: 0;
  }

  .navbar-brand {
    height: inherit;
    padding: 0 var(--site-padding--mobile);
  }

  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }

  .navbar-menu {
    background: var(--navbar-menu-background);
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    max-height: var(--body-min-height);
    overflow-y: auto;
    overscroll-behavior: none;
    padding: var(--site-padding--mobile);
    border-top: 1px solid var(--ds-divider);
    border-bottom: 1px solid var(--ds-divider);
  }

  .navbar-menu:not(.is-active) {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-burger {
    display: none;
  }

  .navbar,
  .navbar-menu,
  .navbar-end {
    display: flex;
  }
}
