.hljs-comment {
  color: var(--ds-text-tertiary);
}

.hljs-quote {
  color: var(--ds-text-tertiary);
}

.hljs-variable {
  color: var(--ds-error-main);
}

.hljs-template-variable {
  color: var(--ds-error-main);
}

.hljs-tag {
  color: var(--ds-error-main);
}

.hljs-name {
  color: var(--ds-error-main);
}

.hljs-selector-id {
  color: var(--ds-error-main);
}

.hljs-selector-class {
  color: var(--ds-cyan-main);
}

.hljs-regexp {
  color: var(--ds-cyan-main);
}

.hljs-deletion {
  color: var(--ds-error-main);
}

.hljs-number {
  color: var(--ds-orange-main);
}

.hljs-built_in {
  color: var(--ds-teal-main);
}

.hljs-builtin-name {
  color: var(--ds-orange-main);
}

.hljs-literal {
  color: var(--ds-orange-main);
}

.hljs-type {
  color: var(--ds-orange-main);
}

.hljs-params {
  color: var(--ds-orange-main);
}

.hljs-meta {
  color: var(--ds-orange-main);
}

.hljs-link {
  color: var(--ds-orange-main);
}

.hljs-attribute {
  color: var(--ds-orange-main);
}

.hljs-string {
  color: var(--ds-orange-main);
}

.hljs-symbol {
  color: var(--ds-success-main);
}

.hljs-bullet {
  color: var(--ds-success-main);
}

.hljs-addition {
  color: var(--ds-success-main);
}

.hljs-title {
  color: var(--ds-cyan-main);
}

.hljs-section {
  color: var(--ds-cyan-main);
}

.hljs-keyword {
  color: var(--ds-primary-main);
}

.hljs-selector-tag {
  color: var(--ds-primary-main);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 500;
}
