main {
  padding-right: var(--site-padding);
}

aside.toc.sidebar {
  padding-left: var(--ds-space-3);
}

aside.toc.embedded {
  margin-bottom: var(--ds-space-3);
}

@media screen and (max-width: 1329.5px) {
  aside.toc.sidebar {
    display: none;
  }

  main > .content {
    overflow-x: auto;
  }

  main {
    padding-right: 0;
  }
}

@media screen and (min-width: 1330px) {
  main {
    flex: auto;
    min-width: 0; /* min-width: 0 required for flexbox to constrain overflowing elements */
  }

  main > .content {
    display: flex;
  }

  aside.toc.embedded {
    display: none;
  }

  aside.toc.sidebar {
    flex: 0 0 var(--toc-width--widescreen);
    order: 1;
  }
}

/* @media screen and (min-width: 1330px) {
  aside.toc.sidebar {
    flex-basis: var(--toc-width--widescreen);
  }
} */
