.toc-menu {
  color: var(--toc-font-color);
}

.toc.sidebar .toc-menu-container {
  margin-right: var(--ds-space-1h);
  margin-left: var(--ds-space-3);
  padding-bottom: var(--ds-space-8);
  position: sticky;
  top: var(--toc-top);
}

.toc .toc-menu h3 {
  color: var(--toc-heading-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  font-weight: var(--body-font-weight-bold);
  line-height: 1.3;
  margin: 0 -0.5px;
  padding-bottom: var(--ds-space-2);
}

.toc.sidebar .toc-menu h3 {
  display: flex;
  flex-direction: column;
  height: var(--ds-space-5);
  justify-content: flex-end;
}

.toc .toc-menu ul {
  font-size: calc(16 / var(--rem-base) * 1rem);
  line-height: var(--toc-line-height);
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc.sidebar .toc-menu ul {
  max-height: var(--toc-height);
  overflow-y: auto;
  overscroll-behavior: none;
}

@supports (scrollbar-width: none) {
  .toc.sidebar .toc-menu ul {
    scrollbar-width: none;
  }
}

.toc .toc-menu ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.toc-sidebar .toc-menu {
  margin-left: var(--ds-space-2);
}

@media screen and (min-width: 1280px) {
  .toc .toc-menu h3 {
    font-size: calc(16 / var(--rem-base) * 1rem);
  }

  .toc .toc-menu ul {
    font-size: calc(16 / var(--rem-base) * 1rem);
  }

  .toc.sidebar .toc-menu {
    margin-left: var(--ds-space-5);
  }
}

.toc .toc-menu li {
  margin: 0;
}

.toc .toc-menu li[data-level="2"] a {
  padding-left: var(--ds-space-4);
  color: var(--ds-text-tertiary);
}

.toc .toc-menu li[data-level="3"] a {
  padding-left: var(--ds-space-6);
  color: var(--ds-text-tertiary);
}

.toc .toc-menu a {
  color: inherit;
  border-left: 2px solid var(--toc-border-color);
  display: inline-block;
  padding: var(--ds-space-1) var(--ds-space-2);
  text-decoration: none;
  font-weight: var(--toc-menu-font-weight);
}

.sidebar.toc .toc-menu a {
  display: block;
  outline: none;
}

.toc .toc-menu a:hover {
  color: var(--link-font-color);
}

.toc .toc-menu a.is-active {
  border-left-color: var(--link-font-color);
  color: var(--doc-font-color);
}

.sidebar.toc .toc-menu a:focus {
  background: var(--panel-background);
}

.toc .toc-menu .is-hidden-toc {
  display: none !important;
}

.toc .toc-dev h3,
.toc .toc-tags h3 {
  margin-top: var(--ds-space-3);
  margin-bottom: 0;
}

.toc .toc-tags > div,
.tags-container > * {
  display: flex;
  padding: 0;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--ds-space-1h) var(--ds-space-1h);
  align-self: stretch;
  flex-wrap: wrap;
}

.toc .toc-tags span,
.tags-container span {
  display: flex;
  padding: var(--ds-space-q) var(--ds-space-1h);
  font-size: calc(12 / var(--rem-base) * 1rem);
  font-weight: 600;
  letter-spacing: calc(0.65 / var(--rem-base) * 1rem);
  border-radius: var(--ds-space-4);
  color: var(--ds-primary-soft-color);
  background: var(--ds-primary-soft-bg);
}

.toc .toc-dev {
  display: flex;
  flex-direction: column;
}
