.toolbar {
  align-items: center;
  background-color: var(--toolbar-background);
  /* box-shadow: 0 1px 0 var(--toolbar-border-color); */
  display: flex;
  font-size: calc(14.5 / var(--rem-base) * 1rem);
  height: calc(22 / var(--rem-base) * 1rem);
  justify-content: flex-start;
  position: sticky;
  top: var(--navbar-height);
  z-index: var(--z-index-toolbar);
  padding-left: calc(24 / var(--rem-base) * 1rem);
  margin-top: calc(24 / var(--rem-base) * 1rem);
}

.toolbar ul li:last-of-type {
  color: var(--toolbar-muted-color);
}

.toolbar a {
  color: inherit;
}

.nav-toggle::after {
  font-family: "Material Icons Outlined", sans-serif;
  font-weight: 400;
  font-size: 20px;
  content: "\e9bd";
}

@media screen and (min-width: 1024px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle.is-active::after {
  content: "\e5c4";
}

.edit-this-page {
  display: none;
  padding-right: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .edit-this-page {
    display: block;
  }
}

.toolbar .edit-this-page a {
  color: var(--toolbar-font-color);
}

@media screen and (max-width: 1023.5px) {
  .toolbar {
    padding-right: var(--site-padding);
  }
}
