.toolbar {
  align-items: center;
  display: flex;
  font-size: 0.906rem;
  font-weight: 400;
  background-color: var(--ds-background-body);
  height: var(--toolbar-height);
  justify-content: flex-start;
  position: sticky;
  top: var(--navbar-height);
  z-index: var(--z-index-toolbar);
  padding: 0 var(--site-padding) 0 24px;
}

.toolbar a {
  color: var(--link-font-color);
}

.nav-toggle::after {
  font-family: "Material Icons Outlined", sans-serif;
  font-size: 20px;
  content: "\e9bd";
}

@media screen and (min-width: 1024px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle.is-active::after {
  content: "\e5c4";
}

.edit-this-page {
  display: none;
  padding-right: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .edit-this-page {
    display: block;
  }
}

.toolbar .edit-this-page a {
  color: var(--toolbar-muted-color);
}
