:root {
  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.5;
  --body-font-color: var(--ds-text-primary);
  --body-font-family: "Roboto Flex", sans-serif;
  --body-font-weight-bold: 500;
  --monospace-font-family: "Roboto Mono", monospace;
  --monospace-font-weight-bold: 500;
  /* base */
  --body-background: var(--ds-background-body);
  --panel-background: var(--ds-background-body);
  --panel-border-color: var(--ds-divider);
  --scrollbar-track-color: var(--ds-background-body);
  --scrollbar-thumb-color: var(--ds-neutral-outlined-border);
  --scrollbar_hover-thumb-color: var(--ds-neutral-outlined-hover-border);
  /* navbar */
  --navbar-background: var(--ds-background-body);
  --navbar-font-color: var(--ds-text-primary);
  --navbar_hover-background: var(--color-black);
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--ds-divider);
  --navbar-button-font-color: var(--ds-text-primary);
  --navbar-menu-border-color: var(--ds-divider);
  --navbar-menu-background: var(--ds-background-body);
  --navbar-menu-font-color: var(--ds-text-primary);
  --navbar-menu_hover-background: var(--ds-background-body);
  /* nav */
  --nav-background: var(--ds-background-body);
  --nav-border-color: var(--ds-divider);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--ds-text-tertiary);
  --nav-muted-color: var(--ds-text-tertiary);
  --nav-panel-divider-color: var(--ds-divider);
  --nav-secondary-background: var(--ds-background-body);
  /* toolbar */
  --toolbar-background: var(--ds-background-body);
  --toolbar-border-color: var(--ds-divider);
  --toolbar-font-color: var(--ds-text-primary);
  --toolbar-muted-color: var(--ds-text-disabled);
  --page-version-menu-background: var(--ds-background-level3);
  --page-version-missing-font-color: var(--ds-text-tertiary);
  /* admonitions */
  --caution-color: var(--ds-primary-main);
  --caution-on-color: var(--ds-text-inverse);
  --important-color: var(--ds-failure-main);
  --important-on-color: var(--ds-text-inverse);
  --note-color: var(--ds-cyan-main);
  --note-on-color: var(--ds-text-inverse);
  --tip-color: var(--ds-success-main);
  --tip-on-color: var(--ds-text-inverse);
  --warning-color: var(--ds-warning-main);
  --warning-on-color: var(--ds-text-inverse);
  /* doc */
  --doc-font-color: var(--ds-text-secondary);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0;
  --heading-font-color: var(--ds-text-primary);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--ds-primary-main);
  --link_hover-font-color: var(--ds-primary-main);
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--ds-background-level1);
  --abstract-font-color: var(--ds-text-tertiary);
  --abstract-border-color: var(--ds-divider);
  --admonition-background: var(--ds-background-body);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--ds-text-primary);
  --caption-font-style: italic;
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--ds-neutral-soft-bg);
  --code-font-color: var(--ds-text-secondary);
  --example-background: var(--ds-background-body);
  --example-border-color: var(--ds-divider);
  --kbd-background: var(--ds-background-body);
  --kbd-border-color: var(--ds-divider);
  --pre-background: var(--ds-neutral-soft-bg);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--ds-text-tertiary);
  --quote-background: var(--ds-background-body);
  --quote-border-color: var(--ds-divider);
  --quote-font-color: var(--ds-text-primary);
  --quote-attribution-font-color: var(--ds-text-tertiary);
  --sidebar-background: var(--ds-background-body);
  --table-border-color: var(--ds-divider);
  --table-stripe-background: var(--ds-background-body);
  --table-footer-background: linear-gradient(to bottom, var(--ds-background-level1) 0%, var(--ds-background-body) 100%);
  /* toc */
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--ds-divider);
  --toc-line-height: 1.2;
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--ds-neutral-soft-bg);
  --footer-font-color: var(--ds-text-primary);
  --footer-link-font-color: var(--link-font-color);
  /* dimensions and positioning */
  --site-padding: calc(32 / var(--rem-base) * 1rem);
  --navbar-height: calc(100 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-menu-height: calc(100% - var(--drawer-height));
  --nav-panel-explore-height: calc(50% + var(--drawer-height));
  --nav-width: calc(328 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(828 / var(--rem-base) * 1rem);
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
  /* transitions */
  --ds-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
