@mixin dark-theme {
  /* Background */
  --ds-background-body: theme(colors.zinc.900);
  --ds-background-level1: theme(colors.zinc.800);
  --ds-background-level2: theme(colors.zinc.700);
  --ds-background-level3: theme(colors.zinc.600);
  --ds-background-surface: theme(colors.zinc.900);
  --ds-background-tooltip: theme(colors.white);
  --ds-background-modal: theme(colors.zinc.900);

  /* Text */
  --ds-text-disabled: theme(colors.zinc.700);
  --ds-text-inverse: theme(colors.black);
  --ds-text-placeholder: theme(colors.zinc.500);
  --ds-text-primary: theme(colors.white);
  --ds-text-secondary: theme(colors.zinc.200);
  --ds-text-tertiary: theme(colors.zinc.300);

  /* Divider */
  --ds-divider: theme(colors.zinc.700);

  /* Focus ring */
  --ds-focus-visible: theme(colors.white);

  /* Disabled */
  --ds-disabled-bg: theme(colors.zinc.800);
  --ds-disabled-color: theme(colors.zinc.600);

  /* Data */
  --ds-cyan-main: theme(colors.cyan.500);
  --ds-indigo-main: theme(colors.indigo.400);
  --ds-lime-main: theme(colors.lime.400);
  --ds-orange-main: theme(colors.orange.400);
  --ds-fuchsia-main: theme(colors.fuchsia.300);
  --ds-pink-main: theme(colors.pink.300);
  --ds-teal-main: theme(colors.teal.500);

  /* Intents */
  --ds-failure-main: theme(colors.red.500);
  --ds-failure-outlined-border: theme(colors.red.600);
  --ds-failure-outlined-color: theme(colors.white);
  --ds-failure-outlined-hover-bg: theme(colors.red.600);
  --ds-failure-outlined-hover-border: theme(colors.red.600);
  --ds-failure-soft-bg: theme(colors.red.950);
  --ds-failure-soft-color: theme(colors.red.200);
  --ds-failure-soft-hover-bg: theme(colors.red.900);
  --ds-failure-solid-bg: theme(colors.red.700);
  --ds-failure-solid-color: theme(colors.white);
  --ds-failure-solid-hover-bg: theme(colors.red.500);

  --ds-neutral-main: theme(colors.white);
  --ds-neutral-outlined-border: theme(colors.zinc.700);
  --ds-neutral-outlined-color: theme(colors.white);
  --ds-neutral-outlined-hover-bg: theme(colors.zinc.700);
  --ds-neutral-outlined-hover-border: theme(colors.zinc.700);
  --ds-neutral-plain-color: theme(colors.white);
  --ds-neutral-plain-hover-bg: theme(colors.zinc.700);
  --ds-neutral-soft-bg: theme(colors.zinc.800);
  --ds-neutral-soft-color: theme(colors.white);
  --ds-neutral-soft-hover-bg: theme(colors.zinc.700);
  --ds-neutral-solid-bg: theme(colors.white);
  --ds-neutral-solid-color: theme(colors.black);
  --ds-neutral-solid-hover-bg: theme(colors.zinc.200);

  --ds-primary-main: theme(colors.purple.400);
  --ds-primary-outlined-border: theme(colors.purple.600);
  --ds-primary-outlined-color: theme(colors.white);
  --ds-primary-outlined-hover-bg: theme(colors.purple.600);
  --ds-primary-outlined-hover-border: theme(colors.purple.600);
  --ds-primary-soft-bg: theme(colors.purple.950);
  --ds-primary-soft-color: theme(colors.purple.200);
  --ds-primary-soft-hover-bg: theme(colors.purple.900);
  --ds-primary-solid-bg: theme(colors.purple.700);
  --ds-primary-solid-color: theme(colors.white);
  --ds-primary-solid-hover-bg: theme(colors.purple.500);

  --ds-success-main: theme(colors.emerald.500);
  --ds-success-outlined-border: theme(colors.emerald.600);
  --ds-success-outlined-color: theme(colors.white);
  --ds-success-outlined-hover-bg: theme(colors.emerald.600);
  --ds-success-outlined-hover-border: theme(colors.emerald.600);
  --ds-success-soft-bg: theme(colors.emerald.950);
  --ds-success-soft-color: theme(colors.emerald.200);
  --ds-success-soft-hover-bg: theme(colors.emerald.900);
  --ds-success-solid-bg: theme(colors.emerald.700);
  --ds-success-solid-color: theme(colors.white);
  --ds-success-solid-hover-bg: theme(colors.emerald.500);

  --ds-warning-main: theme(colors.amber.400);
  --ds-warning-outlined-border: theme(colors.amber.600);
  --ds-warning-outlined-color: theme(colors.white);
  --ds-warning-outlined-hover-bg: theme(colors.amber.600);
  --ds-warning-outlined-hover-border: theme(colors.amber.600);
  --ds-warning-soft-bg: theme(colors.amber.950);
  --ds-warning-soft-color: theme(colors.amber.300);
  --ds-warning-soft-hover-bg: theme(colors.amber.900);
  --ds-warning-solid-bg: theme(colors.amber.500);
  --ds-warning-solid-color: theme(colors.black);
  --ds-warning-solid-hover-bg: theme(colors.amber.400);
}

@layer base {
  html[data-theme="dark"] {
    @include dark-theme;
  }

  html[data-theme="light"] .inverse-theme {
    @include dark-theme;
  }

  html[data-theme="dark"] .for-light {
    display: none;
  }

  html[data-theme="dark"] ::backdrop {
    --ds-background-backdrop: rgba(10, 10, 10, 0.6);
  }

  @media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]):not([data-theme="dark"]) {
      @include dark-theme;
    }

    :root:not([data-theme="light"]):not([data-theme="dark"]) .for-light {
      display: none;
    }
  }
}
