@mixin light-theme {
  /* Background */
  --ds-background-body: theme(colors.white);
  --ds-background-level1: theme(colors.zinc.50);
  --ds-background-level2: theme(colors.zinc.100);
  --ds-background-level3: theme(colors.zinc.200);
  --ds-background-surface: theme(colors.white);
  --ds-background-tooltip: theme(colors.black);
  --ds-background-modal: theme(colors.white);
  --ds-background-backdrop: rgba(0, 0, 0, 0.5);

  /* Text */
  --ds-text-disabled: theme(colors.zinc.200);
  --ds-text-inverse: theme(colors.white);
  --ds-text-placeholder: theme(colors.zinc.400);
  --ds-text-primary: theme(colors.black);
  --ds-text-secondary: theme(colors.zinc.700);
  --ds-text-tertiary: theme(colors.zinc.500);

  /* Divider */
  --ds-divider: theme(colors.zinc.200);

  /* Focus ring */
  --ds-focus-visible: theme(colors.black);

  /* Disabled */
  --ds-disabled-bg: theme(colors.zinc.100);
  --ds-disabled-color: theme(colors.zinc.300);

  /* Data */
  --ds-cyan-main: theme(colors.cyan.600);
  --ds-indigo-main: theme(colors.indigo.700);
  --ds-lime-main: theme(colors.lime.700);
  --ds-orange-main: theme(colors.orange.600);
  --ds-fuchsia-main: theme(colors.fuchsia.600);
  --ds-teal-main: theme(colors.teal.700);
  --ds-pink-main: theme(colors.pink.600);

  /* Intents */
  --ds-failure-main: theme(colors.red.600);
  --ds-failure-outlined-border: theme(colors.red.300);
  --ds-failure-outlined-color: theme(colors.black);
  --ds-failure-outlined-hover-bg: theme(colors.red.300);
  --ds-failure-outlined-hover-border: theme(colors.red.300);
  --ds-failure-soft-bg: theme(colors.red.100);
  --ds-failure-soft-color: theme(colors.red.800);
  --ds-failure-soft-hover-bg: theme(colors.red.200);
  --ds-failure-solid-bg: theme(colors.red.600);
  --ds-failure-solid-color: theme(colors.white);
  --ds-failure-solid-hover-bg: theme(colors.red.800);

  --ds-neutral-main: theme(colors.black);
  --ds-neutral-outlined-border: theme(colors.zinc.200);
  --ds-neutral-outlined-color: theme(colors.black);
  --ds-neutral-outlined-hover-bg: theme(colors.zinc.200);
  --ds-neutral-outlined-hover-border: theme(colors.zinc.200);
  --ds-neutral-plain-color: theme(colors.black);
  --ds-neutral-plain-hover-bg: theme(colors.zinc.200);
  --ds-neutral-soft-bg: theme(colors.zinc.100);
  --ds-neutral-soft-color: theme(colors.black);
  --ds-neutral-soft-hover-bg: theme(colors.zinc.200);
  --ds-neutral-solid-bg: theme(colors.black);
  --ds-neutral-solid-color: theme(colors.white);
  --ds-neutral-solid-hover-bg: theme(colors.zinc.700);

  --ds-primary-main: theme(colors.purple.600);
  --ds-primary-outlined-border: theme(colors.purple.300);
  --ds-primary-outlined-color: theme(colors.black);
  --ds-primary-outlined-hover-bg: theme(colors.purple.300);
  --ds-primary-outlined-hover-border: theme(colors.purple.300);
  --ds-primary-soft-bg: theme(colors.purple.100);
  --ds-primary-soft-color: theme(colors.purple.800);
  --ds-primary-soft-hover-bg: theme(colors.purple.200);
  --ds-primary-solid-bg: theme(colors.purple.600);
  --ds-primary-solid-color: theme(colors.white);
  --ds-primary-solid-hover-bg: theme(colors.purple.800);

  --ds-success-main: theme(colors.emerald.600);
  --ds-success-outlined-border: theme(colors.emerald.300);
  --ds-success-outlined-color: theme(colors.black);
  --ds-success-outlined-hover-bg: theme(colors.emerald.300);
  --ds-success-outlined-hover-border: theme(colors.emerald.300);
  --ds-success-soft-bg: theme(colors.emerald.100);
  --ds-success-soft-color: theme(colors.emerald.800);
  --ds-success-soft-hover-bg: theme(colors.emerald.200);
  --ds-success-solid-bg: theme(colors.emerald.600);
  --ds-success-solid-color: theme(colors.white);
  --ds-success-solid-hover-bg: theme(colors.emerald.800);

  --ds-warning-main: theme(colors.amber.600);
  --ds-warning-outlined-border: theme(colors.amber.300);
  --ds-warning-outlined-color: theme(colors.black);
  --ds-warning-outlined-hover-bg: theme(colors.amber.300);
  --ds-warning-outlined-hover-border: theme(colors.amber.300);
  --ds-warning-soft-bg: theme(colors.amber.100);
  --ds-warning-soft-color: theme(colors.amber.700);
  --ds-warning-soft-hover-bg: theme(colors.amber.200);
  --ds-warning-solid-bg: theme(colors.amber.600);
  --ds-warning-solid-color: theme(colors.white);
  --ds-warning-solid-hover-bg: theme(colors.amber.700);
}

@layer base {
  html[data-theme="light"] {
    @include light-theme;
  }

  html[data-theme="dark"] .inverse-theme {
    @include light-theme;
  }

  html[data-theme="light"] .for-dark {
    display: none;
  }

  @media (prefers-color-scheme: light) {
    :root:not([data-theme="light"]):not([data-theme="dark"]) {
      @include light-theme;
    }

    :root:not([data-theme="light"]):not([data-theme="dark"]) .for-dark {
      display: none;
    }
  }
}
