<main class="article">
  {{#unless (eq page.layout 'full')}}
  {{> toolbar}}
  {{/unless}}
  <div class="content">
    {{#if (eq page.layout '404')}}
    {{> article-404}}
    {{else}}
    {{#unless (or (eq page.layout 'full') (eq page.layout 'landing'))}}
    {{> toc}}
    {{/unless}}
    {{> article}}
    {{/if}}
  </div>
</main>