<!DOCTYPE html>
<html lang="en" data-layout="home">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> body}}
  </body>
</html>
