<div class="sect1 row">
	<h2>Support</h2>
	<div class="sectionbody">
    <div class="sect2">
      <h4>Was This Helpful?</h4>
      <div class="paragraph dialog-action--container">
        <p class="dialog-action navbar-end">
          <button id="support_yes" class="ds-button ds-button--color-neutral
            ds-button--variant-outlined ds-button--not-disabled" data-survey="Was This Helpful?: Yes">
            <span
              class="material-icons ds-button--leading-icon">thumb_up</span>Yes</button>
          <button id="support_no" class="ds-button ds-button--color-neutral
            ds-button--variant-outlined ds-button--not-disabled" data-survey="Was This Helpful?: No">
            <span
              class="material-icons ds-button--leading-icon">thumb_down</span>No</button>
        </p>
      </div>
      <dialog id="dialog-survey">
        <form id="survey-form">
          <div class="header">
            <p class="title">Give Feedback</p>
            <p class="close-button"><kbd>ESC</kbd>
              <button class="close" aria-label="close" formnovalidate><span class="material-icons">close</span></button></p>
          </div>
          <div class="content">
            <p class="message">Thanks for using Astra</p>
            <p class="question">How can we improve the experience for you?</p>
            <textarea name="message" placeholder="Provide your feedback"></textarea>
          </div>
          <div class="action">
            <button class="ds-button ds-button--color-neutral
              ds-button--variant-outlined close" data-survey="Give Feedback: No, thanks">
                No, thanks</button>
            <button id="support_submit" type="submit" class="ds-button ds-button--color-neutral
              ds-button--variant-solid" data-survey="Give Feedback: Yes">
              Submit Feedback</button>
          </div>
        </form>
      </dialog>
    </div>
    <div class="sect2">
      <h4>Need More Help?</h4>
      <div class="ulist unstyled landing-support">
        <ul class="unstyled">
          <li>
            <p><a href="{#}" class="community">
              Ask the Astra community</a></p></li>
          <li>
            <p><a href="{#}" class="support">
              Get in touch with support</a></p></li>
        </ul>
      </div>
    </div>
  </div>
</div>